@font-face {
  font-family: "Abril Text";
  src: url("../webfonts/Abril_Text_Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Abril Text";
  src: url("../webfonts/Abril_Text_SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Abril Text";
  src: url("../webfonts/Abril_Text_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Abril Text";
  src: url("../webfonts/Abril_Text_ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
