/*
 * páginas administrativas.
 *
 */

@font-face {
  font-family: "Roboto Mono";
  src: url("../webfonts/RobotoMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
div.contentTable {
    display: table;
}
div.contentFxAlignCenter {
    display: flex; 
    float: left; 
    align-items: center; 
    padding-left: 10px;
    margin-top: 5px;
}
div.subTitulo {
    font-size: 1.1rem;
    font-weight: 900;
    border-bottom: 1pt solid;
    clear: both;
    padding: 5px;
    margin-top: 20px;
}
div.tituloSecao {
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1pt solid;
    clear: both;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    /*margin-bottom: 10px; */
    display: block;
}
div.itemLateral {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: right;
    float: left;
    clear: left;
    width: 25%;
    border: 0px;
    border-bottom: 1px solid;
    margin: 2px;
    padding: 3px;
}
div.itemstats {
    font-family: 'Roboto Mono';
    font-weight: 600;
    font-size: 0.8rem;
    float: left;
    border-bottom: 1pt solid;
    width: 25%;
    text-align: left;
    margin: 2px;
    height: fit-content;
    padding: 3px;
}
div.item {
    font-size: 0.9rem;
    float: left;
    width: 64%;
    border: 0px;
    border-bottom: 1px solid;
    margin: 2px;
    padding: 3px;
}
div.item input[type=text].FormExtra {
    font-size: 1.2rem;
    width: 80%;
    height: 20px;
    border: 1px;
    margin: 0;
    padding: 2px 5px;
    border: 1px solid;
    border-top-color: var(--cor-inputBTL);
    border-left-color: var(--cor-inputBTL);
    border-bottom-color: var(--cor-inputBBR);
    border-right-color: var(--cor-inputBBR);
}
div.contentstats {
    margin-top: 10px;
    margin-left: 3px;
    display: flex;
    clear: left;
    min-height: 40px;
}
div.left {
text-align: left !important;
align-items: flex-start;
}
div.right {
text-align: right !important;
}
div.opcoes {
    font-size: 0.9rem; 
    float: left; 
    width: 44%; 
    border-bottom: 1pt solid; 
    height: 21px; 
    vertical-align: text-bottom; 
    padding: 3px 0 0 3px;
    clear: left; 
    width: 93%; 
    text-align: left;
}
div.barra {
    clear: both;
    text-align: center;
    width: 100%;
    margin: 1rem;
    padding-top: 4px;
}
div.menuBarra {
font-size: 0.9rem; clear: both;
width: 100%; margin: 0; padding: 0; border: 0;
text-align: center; height: 40px; align-items: center;
display: flex;
}
.menuBarraItem {
    font-size: 1rem;
    text-align: center;
    background: inherit;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    flex-grow: 0; flex-shrink: 1; flex-basis: 100%;
    float: left;
}
.menuBarraItem:hover {
    cursor: pointer;
}
iframe.exemploPagina {
    position: relative; 
    left: 5%; 
    top: 5%; 
    box-shadow: 12px 15px 10px rgb(from var(--cor-medium) r g b / 0.5);
    pointer-events: none;
    z-index: 10;
}
@media screen and (orientation:portrait) {
    iframe.exemploPagina {
        width: 40vmax; height: 70vmax;
        transform: scale(0.90); transform-origin: top left;
    }
}
@media screen and (orientation:landscape) {
    iframe.exemploPagina {
        width: 42vmax; height: 50vmax;
        transform: scale(0.80); transform-origin: top left;
    }
}
div.exemploCategoria a {
display: block;
}
div.exemploCategoria span.separador {
text-align: left;
}
div.tituloColuna {
    font-weight: 600; 
    font-size: 1rem; 
    width: 15%;
    border-width: 1px; 
    border-style: solid; 
    padding: 2px; 
    margin: 2px; 
    float: left; 
}
div.tituloColuna a {
    font-size: 12px;
}
div.w25pc {
    width: 25%;
    min-width: 25%;
}
div.w60pc {
    width: 60%;
    min-width: 60%;
}
div.coluna, div.colunaTransparente {
    font-size: 1rem; 
    float: left; 
    width: 15%;
    margin: 3px; 
    padding: 2px; 
}
body a:hover,
body div.expanded a:hover,
body div.expandable:hover a:hover,
body div.interior:hover a:hover,
body div.exemploCategoria a:hover {
    padding: 0.1rem;
}
.click_div:hover {
    cursor: pointer;
}

#form_div {
 border-style: solid !important;
 border-bottom-right-radius: 3%;
 border-width: 2px;
 display: none;
 margin: 3px;
 padding: 20px;
 position: fixed;
 top: 200px;
 left: calc((100% - 600px)/2);
 width: 600px;
 justify-content: center;
 box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.5);
}


#invisivel_div {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.7;
}
/* menu */
/*
 <div class="dropdownContainer">
  <button class="menuButtom">Dropdown</button>
  <div class="dropdown">
    << UMA CATEGORIA COMO MENU >>
  </div>
 </div>
*/
.menuDropdownContainer {
    position: fixed;
    right: 15px;
    top: 15px;
    display: inline-block;
    z-index: 15;
}
.menuButton {
    padding: 4px;
    font-size: 16px;
    border: none;
}
.menuDropDown {
    display: none;
    position: absolute;
    width: fit-content;
    right: 0;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}
.menuDropdownContainer:hover .menuDropDown {
    display: block;
}
/* para simular fade nos reloads de categorias, grupos e elementos */
.fadeinout {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
/* area de edição de cores no form_cores */

div.tituloCores {
    font-size: 1.3rem;
    width: 100%;
    float: left;
    border: 0;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 6px 0 6px 4px;
}
div.tituloClaro {
    font-size: 1rem;
    width: 100%;
    float: left;
    border: 0;
    border-top: 5px solid;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 3px 0 0 4px;
}
div.boxContent {
    float: left;
    clear: both;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 100%;
    border: 0;
}
div.faixaIntermediaria {
    background-color: var(--cor-opcoesC);
    width: 100%; 
    height: 5px; 
    border: 0; 
    margin: 0; 
    margin-top: 10px; 
    padding: 0; 
}
/* boxElementos */
div.blockElemento {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--cor-inputBG) var(--cor-inputC);
    scrollbar-width: none;
    background-color: transparent;
    display: flex;
    float: left;
    clear: both; 
    width: 100%;
    height: 146px;
    margin: 0;
    border: 0.2px solid #c0c0c0;
    padding: 0;
}
div.contentSelecao {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--cor-inputBG) var(--cor-inputC);
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}
div.tituloSelecao {
    clear: both;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
div.contornoSelecao {
    clear: both;
    width: 400px;
    height: 40vw;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    outline: 1px inset #444444;
}
div.boxSelecao {
    clear: both;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
div.contentElemento {
    float: left; 
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 146px;
    border: 0;
    padding: 0;
    margin: 0;
}
input[type=radio].boxRadio {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    height: 0;
    width: 0;
    display: inline-block;
    border-radius: 100%;
    vertical-align: text-bottom;
    position: relative;
    padding: 0;
    margin: 0;
}
label.boxRadioLabel {
    --elemento-cor: #FFFF99;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    align-items: center;
    border: 0.1px solid #d0d0d0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
label.boxSelecaoLabel {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    width: 98%;
    height: 2.1rem;
    border: 0.5px solid #d0d0d0;
    border-left: 0;
    border-top: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
}
label.boxRadioLabel:focus-within,
label.boxSelecaoLabel:focus-within {
    font-weight: 900;
}
label.boxRadioLabel:has( .boxRadio:active, .boxRadio:checked ),
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked ) {
    font-weight: 900;
}
label.boxRadioLabel::before {
    content: 'x';
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: var(--elemento-cor);
    color: var(--elemento-cor);
    border-right: 0.2px solid #d0d0d0;
}
label.boxRadioLabel:has( .boxRadio:active, .boxRadio:checked )::after,
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked )::after {
    font-family: "Font Awesome 6 Free";
    content: '\f14a';
    font-weight: 900;
    width: 1rem;
    height: 1rem;
    float: right;
    padding-right: 10px;
}
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked )::after {
    padding-right: 15px;
}
/* área do preview */
div.previewColor {
    text-align: center; 
    align-items: center;
    justify-content: space-between;
    display: block;
    float: left;
    clear: both; 
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 1rem;
    width:  100%;
    height: 5.2rem; 
    margin-left: 8px;
    margin-right: 6px; 
    margin-bottom: 6px; 
    padding-top: 7px;
}
.textMiddle {
    place-content: center;
    flex-grow: 0; flex-shrink: 1; flex-basis: 100%;
}
.flex100 {
    width: 100%;
    display: flex;
}
/* boxCores */
.reverseButton {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    display: block;
    min-width: 15vw;
    max-width: 15vw;
    height: 20px;
    margin: 0;
    margin-bottom: 0.5rem;
    padding-left: 5px;
    padding-top: 2px;
}
.colorWheel {
    width: 1rem;
    height: 1rem;
    padding-right: 2px;
    padding-bottom: 0;
}
div.boxContorno {
    display: block;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    width: 180px;
    height: 146px;
    padding: 4px 4px 4px 4px;
}
div.blockCor {
    background-color: transparent;
    display: flex;
    float: left;
    width: 180px;
    height: 146px;
    margin: 0;
    border:0;
    padding: 0;
}
div.boxPaleta {
    border: 1px solid #c0c0c0; 
    border-radius: 6px; 
    padding: 6px;
}
div.contentCor {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--cor-inputBG) var(--cor-inputC);
    scrollbar-width: none;
    display: block;
    width: 180px;
    height: 146px;
    border: 1px solid #c0c0c0; 
    border-radius: 0;
    margin: 10px;
    margin-bottom: 4px;
    padding: 0;
}
div.cor {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
}
/* admin login */
.login {
    width: 400px;
  	background-color: var(--cor-bodyBG);
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
}
.login form label:has(input:required) :after {
	content: '*';
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 46px;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  	transition: background-color 0.2s;
}
/* animatted tabs. from: https://codepen.io/alvarotrigo/pen/QWqXYmG tks a lot */
.wrapperOnwrapper {
    text-align: left; 
    display: flex; 
    width: 100%; 
    height: 200px;
}
.wrapper {
    max-width: 50rem;
    width: 100%;
    height: 250px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin: 0;
}
.tabs {
    position: relative;
    margin: 0;
    margin-top: 4px;
    margin-left: 4px;
    height: 18vmin;
    width: calc(100% - 10px);
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 0.618em;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    justify-content: center;
    align-items: center;
    display: grid;
    width: calc(100% - 40px);
    height: 18vmin;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    opacity: 0;
    transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
    border-bottom: 0;
    border-right: 0.125rem solid;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}
/* box para input da cor em formato #RRGGBB */
div.boxInput {
    width: 180px; 
    height: 1.5rem; 
    text-align: left; 
    outline: 1px solid #c0c0c0; 
    margin: 5px; 
    padding: 0;
    border-collapse: collapse;
}
div.previewInput {
    display: flex; 
    float: left;
    width: 30px;  
    height: 100%; 
    background-color: #c0c0c0; 
    border: 1px solid #c0c0c0; 
    margin: 0; 
    padding: 0; 
}
#colorInput {
    font-size: 1rem; 
    width: 147px; 
    margin: 0; 
    border: 0;
    padding: 0; 
    outline: 0; 
    line-height: 1rem; 
    height: 1.59rem;
}
pre.colorOut {
    font-size: small; 
    color: var(--cor-bodyC);
    width: 159px; 
    height: 90px; 
    border: 1px solid #c0c0c0; 
    padding: 10px; 
    margin: 5px; 
}

/* usa font fixa na página tema_frame */
body.reset a {
    font-size: 12px;
}
body.reset input[type=text] {
    width: 80%;
}
body.reset input[type=submit], body.reset input[type=button], body.reset button {
    font-size: 12px;
    width: auto;
}
body.reset div.tituloCategoria {
    font-size: 14px;
}
body.reset div.headclickable, body.reset div.headexpandable {
    font-size: 13px;
}
body.reset span.separador {
    font-size: 13px;
}
body.reset label.separador {
    font-size: 13px;
}

