/*----------------------------------------------------------

  Styles.css
  (c) ecgf - 2006

  ver base.css, que determina a estrutura da página.
----------------------------------------------------------*/

/*------------------------------------------------------------
  Estilo Admin - fundo branco, destaques em abobora
------------------------------------------------------------*/
:root {
  --theme-dark: darkorange;
  --theme-light: #FFFFFF;
  --theme-medium: salmon;
}
body.admin
  {
  background-color: #FFFFFF;
  color: black;
  background-image: url("../imagens/wazul_bkg.gif");
  }
body.admin a
  { 
  color: black; 
  }
body.admin a:hover span.popup 
  {
  background-color: #FFCC66;
  color: firebrick;
  border-right-color: Chocolate;
  border-bottom-color: Chocolate;
  }
body.admin a:hover, body.admin div.expanded a:hover, body.admin div.expandable:hover a:hover, body.admin div.interior:hover a:hover
  {
  background-color: #373737;
  color: white; 
  }
body.admin span.separador
  {
  color: black;
  }
body.admin div.tituloCategoria, body.admin div.tituloLateral
  { 
  background-color: darkorange;
  border-Top-color: gold; 
  border-Left-color: gold;
  border-Bottom-color: Chocolate; 
  border-Right-color: Chocolate;
  }
body.admin div.titulo, body.admin div.wtitulo, body.admin div.wcategoria, body.admin div.wgrupo, body.admin div.wlink
  {
  background-color: darkorange;
  }
body.admin div.wtitulo a, body.admin div.wcategoria a, body.admin div.wgrupo a, body.admin div.wlink a
  {
  	color: white;
	font-weight: bold;
  }
body.admin div.headexpandable
  {
  background-color: darkorange;
  border-Top-color: #FFFF00; 
  border-Left-color: #FFFF00;
  }
body.admin div.headclickable
  {
  background-color: darkorange;
  border-Top-color: #FFFF00; 
  border-Left-color: #FFFF00;
  }
body.admin div.expanded, body.admin div.expandable:hover, body.admin div.interior:hover
  {
  BackGround-color: darkorange;
  border-Top-color: gold; 
  border-Left-color: gold;
  border-Bottom-color: Chocolate; 
  border-Right-color: Chocolate;
  }
body.admin div.expanded a, body.admin div.expandable:hover a, body.admin div.interior:hover a
  { 
  color: white;
  }
body.admin div.fortune
  {
  background-color: #FFCC66;
  color: firebrick;
  }
body.admin input, body.admin select
  {
  background-color: #DFDFDF;
  }
body.admin input.submit
  {
  background-color: darkorange;
  border-Top-color: Gold; 
  border-Left-color: Gold;
  border-Bottom-color: Chocolate; 
  border-Right-color: Chocolate;
  color: black;
  }
/* 
 * páginas administrativas. 
 *
 */
body.admin div.subTitulo, body.admin div.itemLateral, body.admin div.coluna, body.admin div.tituloColuna {
  background-color: darkorange;	
  border-Top-color: Gold; 
  border-Left-color: Gold;
  border-Bottom-color: Chocolate; 
  border-Right-color: Chocolate;
  color: black;
}
body.admin div.item {
  border-color: darkorange;
}
body.admin div.colunaTransparente {
	border-bottom: 1pt darkorange solid;
}

body.admin #form_div {
 border-color: var(--theme-medium);
 background-color: var(--theme-light);
} 
