/*----------------------------------------------------------

  azul.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo azul - fundo azul claro, destaques em azul escuro
------------------------------------------------------------*/
:root {
    --theme-dark: #00008B;
    --theme-medium: #4682B4;
    --theme-light: #B0C4DE;
    --theme-bodyBG: #B0C4DE;
    --theme-bodyC: white;
    --theme-tituloBG: #4682B4;
    --theme-tituloC: white;
    --theme-tituloBB: #43609C;
    --theme-fortuneBG: #4682B4;
    --theme-fortuneC: white;
    --theme-tituloCategBG: #4682B4;
    --theme-tituloCategC: white;
    --theme-categBTL: #ADD8E6;
    --theme-categBBR: #00008B;
    --theme-interiorBG: #A9A9A9;
    --theme-expandedBG: #4682B4;
    --theme-expandedBTL: #ADD8E6;
    --theme-expandedBBR: #00008B;
    --theme-expandBG: #4682B4;
    --theme-expandC: white;
    --theme-expandBTL: #ADD8E6;
    --theme-expandBBR: #00008B;
    --theme-inputBG: #D3D3D3;
    --theme-inputC: #00008B;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;
    --theme-buttonC: white;
    --theme-buttonBG: #4682B4;
    --theme-buttonBTL: #B0C4DE;
    --theme-buttonBBR: #00008B;
    --theme-sepC: white;
    --theme-sepH: white;
    --theme-linkC: #00008B;
    --theme-linkH: white;
    --theme-expandedColor: #4682B4;
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;
    --theme-opcoesC: #404040;

}
/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    background-color: #4682B4;
    color: white;
}
