/*----------------------------------------------------------

  azul.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo azul - fundo azul claro, destaques em azul escuro
------------------------------------------------------------*/
:root {
    --theme-dark: darkblue;
    --theme-medium: steelblue;
    --theme-light: lightsteelblue;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: lightsteelblue;
    --theme-bodyC: white;
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: steelblue;
    --theme-tituloC: white;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: steelblue;
    --theme-fortuneC: white;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: steelblue;
    --theme-tituloCategC: white;
    --theme-categBTL: lightblue;
    --theme-categBBR: darkblue;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: steelblue;
    --theme-expandedBTL: lightblue;
    --theme-expandedBBR: darkblue;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: steelblue;
    --theme-expandC: white;
    --theme-expandBTL: lightblue;
    --theme-expandBBR: darkblue;
    /* input type=text and select: background-color, color */
    --theme-inputBG: lightgray;
    --theme-inputC: darkblue;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: white;
    --theme-buttonBG: steelblue;
    --theme-buttonBTL: lightsteelblue;
    --theme-buttonBBR: darkblue;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: white;
    /* Links (a): color */
    --theme-linkC: darkblue;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-linkH: white;
    --theme-expandedColor: steelblue;
    --theme-fontS: 1.2em;
}
/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    background-color: steelblue;
    color: white;
}
