/*------------------------------------------------------------------

  base.css
  (c) ecgf - 2005

  Estilos utilizados em minha página pessoal.

  Base.css - o básico dos estilos - tamanho, estrutura, borda, etc. 

  nada do que está aqui deveria ser modificado nos estilos de cor.
--------------------------------------------------------------------*/
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../webfonts/RobotoMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
    --font-rootFS: 12px;
    font-family: 'Libre Franklin', 'Verdana', 'Arial', sans-serif;
    font-size: var(--font-rootFS);
    font-weight: 500;
    touch-action: pan-x pan-y;
    height: 100% 
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: contain;           /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    tabindex: -1;
}
@media screen (width > 100vw) {
    zoom: 0.8;
    transform: scale(0.8);
    transform-origin: 0 0;
}
.logo {
position: fixed;
top: 7px; right: 6px;
height: 40px; width: 40px;
z-index: 20;
}
.logo:hover {
    transform: scale(2.5);
    transform-origin: top;
}
.logo img {
    background-color: var(--theme-tituloBG);
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
}
a {
display: block; text-decoration: none; white-space: nowrap;
font-size: 0.9rem;
}
a:first-letter {
    font-weight: 500;
}
a:hover {
text-decoration: underline;
}
a span.popup {
display: none;
}
a:hover span.popup {
display: block; position: absolute; width: 200px; padding: 5px; margin: 5px;
border-right: 1px solid; border-bottom: 1px solid;
}
form {
margin-top: 0px; margin-bottom: 0px;
}
form a {
display: inline;
}
input, select {
border-Top: 1pt solid; border-Left: 1pt solid; Margin: 1px;
}
select {
margin-left: 2px;
}
input.FormExtra {
Margin-Left: 2px;
}
input.submit, button {
border-width: 1px; border-style: solid; vertical-align: top; text-align: center;
font-size: 1rem; font-weight: 600;
}
input[type=submit].submitEspacado {
    font-size: 1.1rem; 
    font-weight: 600;
    line-height: 1.8rem; 
    min-width: 100px; 
    height: 2.1rem; 
    border: 1px solid;
    margin: 0 1rem 0 1rem;
    padding: 3px 6px 6px 6px;
}
input[pattern]:invalid{
  color: #FF1744;
}
input[type=text]:focus {
  outline: 0 none currentColor;
}
.colorButton {
width: 180px; margin-left: 3px; margin-bottom: 15px; padding-right: 15px; padding-top: 3px; text-align: left; font-size: smaller;
}
/*----------------------------------------
 *------- Estrutura da tabela de links ---
 *---------------------------------------*/
.titulo {
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    background-color: var(--theme-light);
    color: var(--theme-tituloBG);
    width: 100%;
    height: 70px;
    border: 0px;
    margin: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 20px solid;
}
div.content {
    clear: both;
    white-space: nowrap;
    padding: 0px;
    margin: 5px auto;
    width: 100%;
    text-align: center;
    height: auto;
    display: table;
}
div.containerCategoria {
float: left; flex-grow: 0; flex-shrink: 1; flex-basis: 100%; margin-left: 3px; margin-right: 3px; text-align: left;
}
div.footer {
clear: both; position: relative; bottom: 0px;
}
div.tituloCategoria {
clear: both; font-size: 1.1rem; font-weight: 600; border-style: solid; border-width: 2px; margin-bottom: 5px; padding: 3px;
}
table {
clear: both; margin: 0 auto;
}
div.lineForm {
clear: both; border-style: solid none; border-width: 0px; height: 30px; padding-top: 2px; padding-bottom: 4px;
  }
div.tituloLateral {
border-width: 1px; border-style: solid; padding: 2px; margin: 2px; float: left; font-weight: 600; font-size: x-small; width: 90px;
}
div.formLateral {
border-width: 0px; padding: 0px; margin-top: 2px; float: left;
}
div.fortune {
font-size: 0.9rem; clear: both;
margin: 0; padding: 10px; border: 0;
position: fixed; bottom: 0px; left: 0px; width: 100%;
font-weight: 500;
}
div.fortune a {
font-weight: 600; display: inline; font-size: 1rem; width: 100%;
}
/*
 * as classes a seguir fazem a magica dos menus expansiveis. São de dois tipos:
 * no primeiro, que se expande quando se passa o mouse por  cima, uso a
 * seguinte estrutura:
 * <div class="interior">
 * <div class="expandable" onMouse[over<->out] => class="[expandable<->interior]">
 *   <div class="headexpandable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
 * no segundo, que se expande quando se clica em seu cabeçalho, a seguinte
 * estrutura foi utilizada:
 * <div class="interior">
 * <div class="expandable" onClick[expandable<->expanded]>
 *   <div class="headclickable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
*/
div.interior {
clear: both; border-width: 0px; padding: 2px;
}
div.expandable, div.clickable {
overflow: hidden; height: 29px; border-width: 0px;
}
div.expanded, div.interior:hover, div.expandable:hover {
padding: 2px; margin-bottom: 5px; margin-top: 3px; border: 1px solid;
overflow: visible; height: auto;
}
div.headclickable, div.headexpandable {
border: 2px solid; border-radius: 2px; padding: 5px 5px; height: 14px;
font-size: 0.9rem; cursor: pointer; margin-top: 2px; white-space: nowrap;
font-weight: 600;
}
span.separador {
font-weight: 800;
padding-bottom: 5px;
font-size: 1.1rem;
}
label.separador {
font-weight: 600;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 5px;
font-size: 1rem;
}
.texto {
vertical-align: bottom;
}
.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: xx-small;
    font-weight: 800;
}
.copyright:hover {
    font-size: larger;
}

/* ajustes nas font awsome */
[class^="fa-"]::before, [class*="fa-"]::before {
    font-family: "Font Awesome 6 Free";
    padding-right: 10px;
    padding-left: 3px;
    padding-top: 2px;
    font-weight: 600;
}
div.fawLeftPointer {
cursor: pointer; display: flex; float: right; width: 12px; height: 12px; padding-right: 8px;
}
/*
 * páginas administrativas.
 *
 */
div.subTitulo {
font-size: 1.1rem; font-weight: 600; border-bottom: 1pt solid; clear: both; padding: 5px;
}
div.tituloSecao {
font-size: 1.1rem; font-weight: 600; border-bottom: 1pt solid; clear: both; padding: 5px; width: 100%; margin-top: 20px; margin-bottom: 10px; display: block;
}
div.itemLateral {
text-align: right; font-size: 0.9rem; font-weight: 600; border: 0px; float: left; width: 25%; height: 21px; clear: left; margin: 2px; padding: 3px 6px 0px 0px;
}
div.item {
font-size: 0.9rem; float: left; width: 44%; border-bottom: 1pt solid; height: 21px; vertical-align: text-bottom; padding: 3px 0 0 3px;
}
div.contentstats {
margin-left: 3px; margin-top: 10px; display: flex; clear: left; min-height: 40px; margin-bottom: 10px;
}
div.itemstats {
float: left;
font-family: 'Roboto Mono'; font-weight: 600; font-size: 0.8rem;
border-bottom: 1pt solid; width: 16.8%; text-align: left; margin-left: 8px; padding: 0; height: 18px; padding-top: 2px;
}
div.left {
text-align: left;
}
div.right {
text-align: right;
}
div.opcoes {
font-size: 0.9rem; float: left; width: 44%; border-bottom: 1pt solid; height: 21px; vertical-align: text-bottom; padding: 3px 0 0 3px;
clear: left; width: 70%; text-align: left;
}
div.menuBarra {
font-size: 0.9rem; clear: both;
width: 100%; margin: 0; padding: 0; border: 0;
text-align: center; height: 40px; align-items: center;
display: flex;
}
.menuBarraItem {
  text-align: center;
  background: inherit;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  flex-grow: 0; flex-shrink: 1; flex-basis: 100%;
  float: left;
}
.menuBarraItem:hover {
    cursor: pointer;
}
iframe.exemploPagina {
box-shadow: 12px 15px var(--theme-dark); z-index: 10;
position: absolute; right: 1%; top: +160px;
transform: scale(0.40); transform-origin: top right; pointer-events: none;
}
@media screen and (orientation:portrait) {
    iframe.exemploPagina {
        width: 60vw; height: 40vw;
    }
}
@media screen and (orientation:landscape) {
    iframe.exemploPagina {
        width: 42vw; height: 28vw;
    }
}
div.exemploCategoria a {
display: block;
}
div.exemploCategoria span.separador {
text-align: left;
}
div.coluna, div.colunaTransparente {
float: left; padding: 2px; margin: 3px; font-size: 1rem; width: 15%;
}
div.tituloColuna {
border-width: 1px; border-style: solid; padding: 2px; margin: 2px; float: left; font-weight: 600; font-size: 1rem; width: 15%;
}
body a:hover,
body div.expanded a:hover,
body div.expandable:hover a:hover,
body div.interior:hover a:hover,
body div.exemploCategoria a:hover {
padding: 0.3em 0.3em 0.3em 0.3em;
}
.click_div:hover {
    cursor: pointer;
}

#form_div {
 border-style: solid !important;
 border-bottom-right-radius: 3%;
 border-width: 2px;
 display: none;
 margin: 3px;
 padding: 20px;
 position: fixed;
 top: 200px;
 left: calc((100% - 600px)/2);
 width: 600px;
 justify-content: center;
 box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.5);
}


#invisivel_div {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.7;
}
/* menu */
/* 
 <div class="dropdownContainer">
  <button class="menuButtom">Dropdown</button>
  <div class="dropdown">
    << UMA CATEGORIA COMO MENU >>
  </div>
 </div>
*/
.menuDropdownContainer {
  position: fixed;
  right: 15px;
  top: 50px;
  display: inline-block;
  z-index: 15;
}
.menuButton {
  padding: 4px;
  font-size: 16px;
  border: none;
}
.menuDropDown {
  display: none;
  position: absolute;
  width: 160px;
  right: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}
.menuDropdownContainer:hover .menuDropDown {
    display: block;
}
/* para simular fade nos reloads de categorias, grupos e elementos */
.fadeinout {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
/* area de edição de cores no form_cores */
div.tituloCores {
    font: 1.3rem;
    width: 100%;
    float: left;
    font-size: larger;
    border: 0;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 6px 0 6px 4px;
}
div.boxContent {
    float: left;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}
/* boxElementos */
div.blockElemento {
    background-color: transparent;
    display: flex;
    float: left;
    min-width: 35vw;
    max-width: 40vw;
    height: 146px;
    margin: 0;
    border: 0.2px solid #404040;
    padding: 1px;
}
div.contentSelecao {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}
div.tituloSelecao {
    clear: both;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
div.contornoSelecao {
    clear: both;
    width: 400px;
    height: 40vw; 
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    outline: 1px inset #444444;
}
div.boxSelecao {
    clear: both;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
div.contentElemento {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 146px;
    border: 0;
    padding: 0;
    margin: 0;
    /*margin-left: calc((100% - 35vw) / 2);
    margin-right: calc((100% - 35vw) / 2);*/
    margin-top: 4px;
    margin-bottom: 4px;
}
input[type=radio].boxRadio {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    height: 0;
    width: 0;
    display: inline-block;
    border-radius: 100%;
    vertical-align: text-bottom;
    position: relative;
    padding: 0;
    margin: 0;
}
label.boxRadioLabel {
    --elemento-cor: #FFFF99;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    align-items: center;
    width: 100%;
    height: 2rem;
    border: 0.1px solid #d0d0d0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
label.boxSelecaoLabel {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    width: 98%;
    height: 2.1rem;
    border: 0.5px solid #d0d0d0;
    border-left: 0;
    border-top: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 10px;
}
label.boxRadioLabel:focus-within,
label.boxSelecaoLabel:focus-within {
    font-weight: 900;
}
label.boxRadioLabel:has( .boxRadio:active, .boxRadio:checked ),
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked ) {
    font-weight: 900;
}
label.boxRadioLabel::before {
    content: 'x';
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: var(--elemento-cor);
    color: var(--elemento-cor);
    border-right: 0.2px solid #d0d0d0;
}
label.boxRadioLabel:has( .boxRadio:active, .boxRadio:checked )::after,
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked )::after {
    font-family: "Font Awesome 6 Free";
    content: '\f14a';
    font-weight: 900;
    width: 1rem;
    height: 1rem;
    float: right;
    padding-right: 10px;
}
label.boxSelecaoLabel:has( .boxRadio:active, .boxRadio:checked )::after {
    padding-right: 15px;
}
/* área do preview */
#previewColorPicked, #previewElementoPicked {
border: 1px solid var(--theme-medium);
border-radius: 1rem;
width:  100%;
height: 5.2rem; margin-left: 8px;
margin-right: 6px; margin-bottom: 6px; padding-top: 7px;
text-align: center; align-items: center;
display: grid; float: left: clear: both; flex-grow: 0; flex-shrink: 1; flex-basis: 100%;
}
.textMiddle {
    place-content: center;
    flex-grow: 0; flex-shrink: 1; flex-basis: 100%;
}
.flex100 {
    width: 100%;
    display: flex;
}
/* boxCores */
.reverseButton {
    text-align: left;
    display: block;
    min-width: 15vw;
    max-width: 25vw;
    height: 20px;
    margin-bottom: 0.5rem;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
}
.colorWheel {
    width: 1rem;
    height: 1rem;
    padding-right: 10px;
    padding-bottom: 0;
}
div.boxContorno {
    display: block;
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    width: 180px;
    height: 146px;
    padding: 4px 4px 4px 4px;
}
div.blockCor {
    background-color: transparent;
    display: flex;
    float: left;
    width: 180px;
    height: 146px;
    margin: 0;
    border:0;
    padding: 0;
}
div.contentCor {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 180px;
    height: 146px;
    margin: 0;
    margin-bottom: 4px;
    border: 0;
    border-radius: 8px;
    padding: 0;
}
div.cor {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
}
/* admin login */
.login {
  	width: 400px;
  	background-color: var(--theme-bodyBG);
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	background-color: var(--theme-tituloBG);
  	color: var(--theme-tituloC);
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: var(--theme-buttonBG);
  	color: var(--theme-buttonC);
}
.login form label:has(input:required) :after {
	content: '*';
	color: var(--theme-buttonC);
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 46px;
	background: var(--theme-inputBG);
	color: var(--theme-inputC);
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: var(--theme-buttonBG);
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: var(--theme-buttonC);
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: var(--theme-buttonC);
	color: var(--theme-buttonBG);
  	transition: background-color 0.2s;
}

