/*------------------------------------------------------------------

  base.css
  (c) ecgf - 2005

  Estilos utilizados em minha página pessoal.

  Base.css - o básico dos estilos - tamanho, estrutura, borda, etc.  

  nada do que está aqui deveria ser modificado nos estilos de cor.
--------------------------------------------------------------------*/
* { 
font-size: 1em; font-family: georgia, roboto, verdana, tahoma, sans-serif;
}
body {
overflow: hidden; text-align: left; vertical-align: bottom; text-decoration: none;
margin: 0pt; padding: 0pt; border: 0pt none;
background-repeat: no-repeat; background-position: top right;  
}
a { 
display: block; text-decoration: none; font-weight: normal; white-space: nowrap;
font-size: 0.9em;
}
a:hover { 
text-decoration: underline;
}
a span.popup {
display: none;
}
a:hover span.popup {
display: block; position: absolute; width: 200px; padding: 5px; margin: 5px; 
border-right: 1px solid; border-bottom: 1px solid;
}
span.separador {
font-weight: bold;
}
.texto {
vertical-align: bottom;
}
.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: xx-small;
    font-weight: normal;
}
.copyright:hover {
    font-size: larger;
}
form {
margin-top: 0pt; margin-bottom: 0pt;
}
form a {
display: inline;
}
input, select {
font-family: verdana, arial, helvetica, sans-serif;  font-size: 0.9em;
border-Top: 1pt solid; border-Left: 1pt solid; Margin: 1pt;
}
select {
margin-left: 2pt;
}
input.FormExtra {
Margin-Left: 2pt;
}
input.submit, button {
border-width: 1pt; border-style: solid; vertical-align: top; text-align: center; 
font-size: 1em; font-weight: bold;
}
/*----------------------------------------
 *------- Estrutura da tabela de links ---
 *---------------------------------------*/
div.titulo, div.titulo a {
clear: both; font-size: 2.0em; font-weight: bold; height: 30px; vertical-align: middle; padding-top: 15px; padding-bottom: 20px; padding-left: 5px;
}
div.content {
clear: both; white-space: nowrap; padding: 0px; margin: 5px auto; width: 100%; text-align: center;
}
div.footer {
clear: both; position: relative; bottom: 0px;
}
div.tituloCategoria {
clear: both; font-size: 1.1em; font-weight: bold; border-style: solid; border-width: 1px; margin-bottom: 5px; padding: 3px; 
}
table {
clear: both; margin: 0 auto; 
}
div.lineForm {
clear: both; border-style: solid none; border-width: 0pt; height: 30px; padding-top: 2px; padding-bottom: 4px;
  }
div.tituloLateral { 
border-width: 1pt; border-style: solid; padding: 2pt; margin: 2pt; float: left; font-weight: bold; font-size: x-small; width: 90px;
}
div.formLateral {
border-width: 0pt; padding: 0pt; margin-top: 2pt; float: left;
}
div.fortune {
font-size: 0.9em; clear: both; padding: 2pt; border: 1pt;
}

div.fortune a {
font-weight: bold; display: inline; font-size: 1em;
}
/* 
 * Específico das páginas wap.
 */
div.wtitulo {
clear: both; font-size: 2.0em; font-weight: bold; height: 35px; vertical-align: middle; padding-left: 5px; padding-bottom: 5px; margin-bottom: 3px;
}
div.wcategoria {
clear: both; font-size: 1.7em; font-weight: bold; height: 30px; vertical-align: middle; padding-left: 15px; padding-bottom: 5px; margin-bottom: 2px;
}
div.wgrupo {
clear: both; font-size: 1.5em; font-weight: bold; height: 20px; vertical-align: middle; padding-left: 25px; padding-bottom: 5px; margin-bottom: 1px;
}
div.wlink {
clear: both; font-size: 1.3em; font-weight: bold; height: 15px; vertical-align: middle; padding-left: 40px; padding-bottom: 5px;
}
/*
 * as classes a seguir fazem a magica dos menus expansiveis. São de dois tipos:
 * no primeiro, que se expande quando se passa o mouse por  cima, uso a 
 * seguinte estrutura:
 * <div class="interior">
 * <div class="expandable" onMouse[over<->out] => class="[expandable<->interior]">
 *   <div class="headexpandable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
 * no segundo, que se expande quando se clica em seu cabeçalho, a seguinte
 * estrutura foi utilizada:
 * <div class="interior">
 * <div class="expandable" onClick[expandable<->expanded]>
 *   <div class="headclickable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
*/
div.interior {
clear: both; border-width: 0pt; padding: 2pt;
}
div.expandable, div.clickable {
overflow: hidden; height: 18pt; border-width: 0pt; 
}
div.expanded, div.interior:hover, div.expandable:hover {
padding: 2pt; margin-bottom: 5pt; margin-top: 3px; border-style: solid; border-width: 1pt; 
overflow: visible; height: auto; 
}
div.headclickable, div.headexpandable {
border-top-width: 1pt; border-left-width: 1pt; border-top-style: solid; border-left-style: solid;
height: 18pt; font-size: 0.9em; cursor: pointer; margin-top: 2pt; white-space: nowrap;
}
div.headclickable:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0fe";
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 900;
}
div.headexpandable:before {
    font-family: "Font Awesome 5 Free";
    content: "\f055";
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 600;
}
/* 
 * páginas administrativas. 
 *
 */
div.subTitulo {
font-size: 1.1em; font-weight: bold; border-bottom: 1pt solid; clear: both; padding: 5px;
}
div.itemLateral {
text-align: right; font-size: 0.9em; font-weight: bold; border: 0pt; float: left; width: 25%; height: 21pt; clear: left; margin: 2pt; padding: 3px 6px 0px 0px;
}
div.item {
font-size: 0.9em; float: left; width: 44%; border-bottom: 1pt solid; height: 21pt; vertical-align: text-bottom; padding: 3px 0 0 3px;
}
div.exemploCategoria {
position: absolute; float: right; right: 5px; top: 70px; width: 30%; text-align: left;
}
div.exemploCategoria a {
display: block;
}
div.exemploCategoria span.separador {
text-align: left;
}
div.coluna, div.colunaTransparente {
float: left; padding: 2pt; margin: 3pt; font-size: 1em; width: 15%;
}
div.tituloColuna { 
border-width: 1pt; border-style: solid; padding: 2pt; margin: 2pt; float: left; font-weight: bold; font-size: 1em; width: 15%;
}
body a:hover, body div.expanded a:hover, body div.expandable:hover a:hover, body div.interior:hover a:hover, body div.exemploCategoria a:hover
{
padding: 0.3em 0.3em 0.3em 0.3em;
}
.click_div:hover {
    cursor: pointer;
}

#form_div {
 border-style: solid !important;
 border-bottom-right-radius: 3%;
 border-width: 2px;
 display: none;
 margin: 3px;
 padding: 3px;
 position: fixed;
 top: 200px;
 left: calc((100% - 600px)/2);
 width: 600px;
 justify-content: center;
 box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.5);
} 

.newItem_div {
  width: calc(100%/5);
  text-align: center;
  background: var(--theme-dark); 
  margin: 0; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  font-weight: bold; 
  float: left; 
}

.newItem_div:hover {
    cursor: pointer;
}

#invisivel_div {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}
