/*------------------------------------------------------------------

  base.css
  (c) ecgf - 2005

  Estilos utilizados em minha página pessoal.

  Base.css - o básico dos estilos - tamanho, estrutura, borda, etc.  

  nada do que está aqui deveria ser modificado nos estilos de cor.
--------------------------------------------------------------------*/
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Libre Franklin";
  src: url("../webfonts/LibreFranklin-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
:root {
    font-family: 'Libre Franklin', 'Verdana', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
a { 
display: block; text-decoration: none; white-space: nowrap;
font-size: 0.9rem;
}
a:first-letter {
    font-weight: 600;
}
a:hover { 
text-decoration: underline;
}
a span.popup {
display: none;
}
a:hover span.popup {
display: block; position: absolute; width: 200px; padding: 5px; margin: 5px; 
border-right: 1px solid; border-bottom: 1px solid;
}
form {
margin-top: 0px; margin-bottom: 0px;
}
form a {
display: inline;
}
input, select {
border-Top: 1pt solid; border-Left: 1pt solid; Margin: 1px;
}
select {
margin-left: 2px;
}
input.FormExtra {
Margin-Left: 2px;
}
input.submit, button {
border-width: 1px; border-style: solid; vertical-align: top; text-align: center; 
font-size: 1rem; font-weight: 600;
}
.colorButton {
width: 180px; margin-left: 3px; margin-bottom: 15px; padding-right: 15px; padding-top: 3px; text-align: left; font-size: smaller;
}
/*----------------------------------------
 *------- Estrutura da tabela de links ---
 *---------------------------------------*/
.titulo {
    font-size: 4rem;
    font-weight: 800;
    background-color: var(--theme-light);
    color: var(--theme-tituloBG);
    width: 100%;
    min-height: 15%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 20px solid;
    display: flex;
}
div.content {
clear: both; white-space: nowrap; padding: 0px; margin: 5px auto; width: 100%; text-align: center;
}
div.containerCategoria {
float: left; flex-grow: 0; flex-shrink: 1; flex-basis: 100%; margin-left: 3px; margin-right: 3px; text-align: left;
}
div.footer {
clear: both; position: relative; bottom: 0px;
}
div.tituloCategoria {
clear: both; font-size: 1.1rem; font-weight: 600; border-style: solid; border-width: 1px; margin-bottom: 5px; padding: 3px; 
}
table {
clear: both; margin: 0 auto; 
}
div.lineForm {
clear: both; border-style: solid none; border-width: 0px; height: 30px; padding-top: 2px; padding-bottom: 4px;
  }
div.tituloLateral { 
border-width: 1px; border-style: solid; padding: 2px; margin: 2px; float: left; font-weight: 600; font-size: x-small; width: 90px;
}
div.formLateral {
border-width: 0px; padding: 0px; margin-top: 2px; float: left;
}
div.fortune {
font-size: 0.9rem; clear: both; 
margin: 0; padding: 10px; border: 0;
position: fixed; bottom: 0px; left: 0px; width: 100%;
font-weight: 500;
}
div.fortune a {
font-weight: 600; display: inline; font-size: 1rem; width: 100%;
}
/*
 * as classes a seguir fazem a magica dos menus expansiveis. São de dois tipos:
 * no primeiro, que se expande quando se passa o mouse por  cima, uso a 
 * seguinte estrutura:
 * <div class="interior">
 * <div class="expandable" onMouse[over<->out] => class="[expandable<->interior]">
 *   <div class="headexpandable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
 * no segundo, que se expande quando se clica em seu cabeçalho, a seguinte
 * estrutura foi utilizada:
 * <div class="interior">
 * <div class="expandable" onClick[expandable<->expanded]>
 *   <div class="headclickable">headname</div>
 *   [  grupos de links   ]
 * </div>
 * </div>
*/
div.interior {
clear: both; border-width: 0px; padding: 2px;
}
div.expandable, div.clickable {
overflow: hidden; height: 28px; border-width: 0px; 
}
div.expanded, div.interior:hover, div.expandable:hover {
padding: 2px; margin-bottom: 5px; margin-top: 3px; border: 1px solid;
overflow: visible; height: auto; 
}
div.headclickable, div.headexpandable {
border: 1px solid; padding: 5px 5px; height: 14px;
font-size: 0.9rem; cursor: pointer; margin-top: 2px; white-space: nowrap;
font-weight: 600;
}
span.separador {
font-weight: 800;
padding-bottom: 5px;
font-size: 1.1rem;
}
.texto {
vertical-align: bottom;
}
.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: xx-small;
    font-weight: 800;
}
.copyright:hover {
    font-size: larger;
}

/* ajustes nas font awsome */
[class^="fa-"]::before, [class*="fa-"]::before {
    font-family: "Font Awesome 6 Free";
    padding-right: 10px;
    padding-left: 3px;
    padding-top: 2px;
    font-weight: 600;
}

/* 
 * páginas administrativas. 
 *
 */
div.subTitulo {
font-size: 1.1rem; font-weight: 600; border-bottom: 1pt solid; clear: both; padding: 5px;
}
div.itemLateral {
text-align: right; font-size: 0.9rem; font-weight: 600; border: 0px; float: left; width: 25%; height: 21px; clear: left; margin: 2px; padding: 3px 6px 0px 0px;
}
div.item {
font-size: 0.9rem; float: left; width: 44%; border-bottom: 1pt solid; height: 21px; vertical-align: text-bottom; padding: 3px 0 0 3px;
}
div.opcoes {
font-size: 0.9rem; float: left; width: 44%; border-bottom: 1pt solid; height: 21px; vertical-align: text-bottom; padding: 3px 0 0 3px;
clear: left; width: 70%; text-align: left; 
}
div.novoFilho {
font-size: 0.9rem; clear: both; 
width: 100%; margin: 0; padding: 10px; border: 0;
}
iframe.exemploPagina {
box-shadow: 12px 15px var(--theme-dark); z-index: 10;
position: absolute; right: 1%; top: +160px;
transform: scale(0.40); transform-origin: top right;
}
@media screen and (orientation:portrait) {
    iframe.exemploPagina {
        width: 60vw; height: 40vw; 
    }
}
@media screen and (orientation:landscape) {
    iframe.exemploPagina {
        width: 42vw; height: 28vw;
    }
}
div.exemploCategoria a {
display: block;
}
div.exemploCategoria span.separador {
text-align: left;
}
div.coluna, div.colunaTransparente {
float: left; padding: 2px; margin: 3px; font-size: 1rem; width: 15%;
}
div.tituloColuna { 
border-width: 1px; border-style: solid; padding: 2px; margin: 2px; float: left; font-weight: 600; font-size: 1rem; width: 15%;
}
body a:hover, body div.expanded a:hover, body div.expandable:hover a:hover, body div.interior:hover a:hover, body div.exemploCategoria a:hover {
padding: 0.3em 0.3em 0.3em 0.3em;
}
.click_div:hover {
    cursor: pointer;
}

#form_div {
 border-style: solid !important;
 border-bottom-right-radius: 3%;
 border-width: 2px;
 display: none;
 margin: 3px;
 padding: 3px;
 position: fixed;
 top: 200px;
 left: calc((100% - 600px)/2);
 width: 600px;
 justify-content: center;
 box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.5);
} 

.newItem_div {
  width: calc(100%/5);
  text-align: center;
  background: var(--theme-dark); 
  margin: 0; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600; 
  float: left; 
}

.newItem_div:hover {
    cursor: pointer;
}

#invisivel_div {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.7;
}
/* menu */
/*  
 <div class="dropdownContainer">
  <button class="menuButtom">Dropdown</button>
  <div class="dropdown">
    << UMA CATEGORIA COMO MENU >>
  </div>
 </div> 
*/
.menuDropdownContainer {
  position: fixed;
  right: 15px;
  top: 50px;
  display: inline-block;
  z-index: 15;
}
.menuButton {
  padding: 4px;
  font-size: 16px;
  border: none;
}
.menuDropDown {
  display: none;
  position: absolute;
  width: 160px;
  right: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}
.menuDropdownContainer:hover .menuDropDown {display: block;}

/* para simular fade nos reloads de categorias, grupos e elementos */
.fadeinout {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.rainbow {
text-align: left; width: 200px; margin-left: 1px; padding-left: 15px; padding-right: 15px; padding-top: 3px;
}
.interior .colorWheel::before {
    content: url('../imagens/colorWheel.png');
    padding-right: 10px;
    padding-left: 3px;
    padding-bottom: 2px;
}

#selectElemento,
#selectElemento option {
    width: 300px;
}

#previewColorPicked {
border: 1px solid var(--theme-medium); 
width: 180px; height: 21px; margin-left: 3px; 
margin-bottom: 6px; padding-top: 7px; 
text-align: center;
}


