/*---------------------------------------------------------------------

  gAbobora.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo gAbobora - fundo em cinza, detalhes em abobora sobre grafite
---------------------------------------------------------------------*/
:root {
    --theme-dark: #404040;
    --theme-medium: #909090;
    --theme-light: white;
    --theme-bodyBG: #708090;
    --theme-bodyC: #202020;
    --theme-tituloBG: #404040;
    --theme-tituloC: #FFFFFF;
    --theme-tituloBB: #C0C0C0;
    --theme-fortuneBG: #404040;
    --theme-fortuneC: #FFFFFF;
    --theme-tituloCategBG: #404040;
    --theme-tituloCategC: #FFFFFF;
    --theme-categBTL: #999999;
    --theme-categBBR: #000000;
    --theme-interiorBG: #A9A9A9;
    --theme-expandedC: black;
    --theme-expandedBG: #666666;
    --theme-expandedBTL: #999999;
    --theme-expandedBBR: #000000;
    --theme-expandBG: #404040;
    --theme-expandC: #FFFFFF;
    --theme-expandBTL: #999999;
    --theme-expandBBR: #000000;
    --theme-inputBG: #D3D3D3;
    --theme-inputC: black;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;
    --theme-buttonC: #FFFFFF;
    --theme-buttonBG: #404040;
    --theme-buttonBTL: #999999;
    --theme-buttonBBR: #000000;
    --theme-sepC: #202020;
    --theme-linkC: #101010;
    --theme-linkH: #404040;
    --theme-expandedColor: white;
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;
    --theme-opcoesC: #f7f7f7;
}
/* extras */
div.interior:hover a, div.expandable:hover a, div.expanded:hover a {
    color: var(--theme-light);
}
div.tituloColuna a, div.tituloColuna:hover a {
    background-color: var(--theme-buttonBG);
    color: var(--theme-buttonC);
}

