/*----------------------------------------------------------

  black.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo black - fundo grafite escuro, destaques em abobora
------------------------------------------------------------*/
:root {
    --theme-dark: darkorange;
    --theme-light: #FFFFFF;
    --theme-medium: salmon;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: #373737;
    --theme-bodyC: white;
    --theme-picColor: url("../drawing/background.php?r=77&g=73&b=69");
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: #FF8C00;
    --theme-tituloC: white;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: #FFCC66;
    --theme-fortuneC: #B22222;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: #FF8C00;
    --theme-tituloCategC: white;
    --theme-categBTL: #FFD700;
    --theme-categBBR: #D2691E;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: #C0C0C0;
    --theme-expandedBTL: #7F7F7F;
    --theme-expandedBBR: #202020;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: #FF8C00;
    --theme-expandC: white;
    --theme-expandBTL: #FFFF00;
    --theme-expandBBR: darkorange;
    /* input type=text and select: background-color, color */
    --theme-inputBG: #DFDFDF;
    --theme-inputC: black;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: black;
    --theme-buttonBG: #FF8C00;
    --theme-buttonBTL: #FFD700;
    --theme-buttonBBR: #D2691E;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: black;
    /* Links (a): color */
    --theme-linkC: white;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-linkH: #373737;
    --theme-expandedColor: white;
    --theme-fontS: 1.2em;
    /* Grupos (div.interior): background-color */
    --theme-interiorBG: black;
}
