@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:450;
    src:local('Clan Pro'),url(../webfonts/FFClanProRegular.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:250;
    src:local('Clan Pro'),url(../webfonts/FFClanProThin.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:475;
    src:local('Clan Pro'),url(../webfonts/FFClanProCondRgNews.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:475;
    src:local('Clan Pro'),url(../webfonts/FFClanProRgNarNews.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:475;
    src:local('Clan Pro'),url(../webfonts/FFClanProRgNews.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:500;
    src:local('Clan Pro'),url(../webfonts/FFClanProMedium.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:700;
    src:local('Clan Pro'),url(../webfonts/FFClanProBold.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:900;
    src:local('Clan Pro'),url(../webfonts/FFClanProBlk.woff) format('woff')
}
@font-face{
    font-family:clan pro;
    font-style:normal;
    font-weight:950;
    src:local('Clan Pro'),url(../webfonts/FFClanProUltra.woff) format('woff')
}
