/*-------------------------------------------------------------------------

  colorbase.css
  (c) ecgf - 2024

  colorbase.css - define cores para os elementos definidos em base.css

  a partir daqui, os estilos de cor só precisam mexer no elemento :root
---------------------------------------------------------------------------*/
:root {
    --theme-dark: black;
    --theme-medium: gray;
    --theme-light: white;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: lightgray;
    --theme-bodyC: dimgray;
    --theme-picColor: url("../drawing/background.php?r=192&g=192&b=192"); /* silver; */
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: darkslategray;
    --theme-tituloC: whitesmoke;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: darkslategray;
    --theme-fortuneC: whitesmoke;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: darkslategray;
    --theme-tituloCategC: whitesmoke;
    --theme-categBTL: slategray;
    --theme-categBBR: black;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: gray;
    --theme-expandedBTL: lightgray;
    --theme-expandedBBR: dimgray;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: darkslategray;
    --theme-expandC: whitesmoke;
    --theme-expandBTL: slategray;
    --theme-expandBBR: darkslategray;
    /* input type=text and select: background-color, color */
    --theme-inputBG: lightgray;
    --theme-inputC: black;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: whitesmoke;
    --theme-buttonBG: darkslategray;
    --theme-buttonBTL: slategray;
    --theme-buttonBBR: black;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: dimgray;
    /* Links (a): color */
    --theme-linkC: dimgray;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-expandedColor: #333333;
    --theme-linkH: whitesmoke;
    --theme-fontS: 1.2em;
    /* Grupos (div.interior): background-color */
    --theme-interiorBG: darkgray;
}
body {
    background-color: var(--theme-bodyBG);
    color: var(--theme-bodyC); 
    background-image: var(--theme-picColor);
}
/* fortunes */
div.fortune {
    background-color: var(--theme-fortuneBG);
    color: var(--theme-fortuneC);
}

/* categorias (colunas) */
div.titulo {
    background-color: var(--theme-tituloBG);
    color: var(--theme-tituloC);
}
div.tituloCategoria, div.tituloLateral {
    background-color: var(--theme-tituloCategBG);
    color: var(--theme-tituloCategC);
    border-Top-color: var(--theme-expandBTL); 
    border-Left-color: var(--theme-expandBTL);
    border-Bottom-color: var(--theme-expandBBR); 
    border-Right-color: var(--theme-expandBBR);
}
/* grupos de links */
div.expanded, div.expandable:hover, div.interior:hover {
    background-color: var(--theme-expandedBG);
    border-top-color: var(--theme-expandedBTL);
    border-left-color: var(--theme-expandedBTL);
    color: var(--theme-expandedC);
}
div.headexpandable, div.headclickable {
    background-color: var(--theme-expandBG);
    border-Top-color: var(--theme-expandBTL); 
    border-Left-color: var(--theme-expandBTL);
    border-Bottom-color: var(--theme-expandBBR); 
    border-Right-color: var(--theme-expandBBR);
    color: var(--theme-expandC);
}
div.expanded a, div.expandable:hover a, div.interior:hover a {
  color: var(--theme-linkH);
}
/* links */
a {
    color: var(--theme-linkC);
}
a:hover, span.popup, div.expanded a:hover, div.expandable:hover a:hover, div.interior:hover a:hover {
    background-color: var(--theme-linkH);
    color: var(--theme-expandedColor);
    border-right-color: var(--theme-expandBBR);
    border-bottom-color: var(--theme-expandBBR);
}
span.separador {
    color: var(--theme-sepC);
}
div.expanded span.separador, div.interior:hover span.separador {
    color: var(--theme-expandedSepC);
}
div.tituloColuna a {
    color: var(--theme-linkH);
}
div.tituloColuna:hover a {
    color: var(--theme-linkC);
}
/* inputs, selects, buttons etc */
input, select {
    background-color: var(--theme-inputBG);
    color: var(--theme-inputC);
    border-Top-color: var(--theme-expandBBR); 
    border-Left-color: var(--theme-expandBBR);
    border-Bottom-color: var(--theme-expandBTL);
    border-Right-color: var(--theme-expandBTL);
}
input.submit, button {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-buttonC);
}
/* páginas administrativas. */
div.subTitulo, div.itemLateral, div.coluna, div.tituloColuna {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-tituloCategC);
}
div.item {
  border-color: var(--theme-bodyC); 
  color: var(--theme-itemC);
}
div.colunaTransparente {
	border-bottom: 1pt var(--theme-dark) solid;
}
#form_div {
    background-color: var(--theme-bodyBG);
}
#invisivel_div {
    background-color: var(--theme-light);
}
