/*-------------------------------------------------------------------------

  colorbase.css
  (c) ecgf - 2024

  colorbase.css - define cores para os elementos definidos em base.css

  a partir daqui, os estilos de cor só precisam mexer no elemento :root
---------------------------------------------------------------------------*/

:root {   

    /*
     * Variáveis de cor que definem o tema. São colocadas no :root de cada classe 
     *
     * aqui aparecem apenas comentadas para não interferir com a classe da página
     * que vem abaixo no header.
     *
    
    * cor escura, clara e média do tema
    --theme-dark: #101820;
    --theme-medium: #a7a8aa;
    --theme-light: #d9d9d6;
    
    * Página (body): background-color, color, background-image 
    --theme-bodyBG: #ffffff;
    --theme-bodyC: #696969;
    
    * Título da página (div.titulo): background-color, color 
    --theme-tituloBG: #a9a9a9;
    --theme-tituloC: #101820;
    --theme-tituloBB: #53565a;

    * fortune (div.fortune): background-color, color 
    --theme-fortuneBG: #101820;
    --theme-fortuneC: #ffffff;

    * Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d 
    --theme-tituloCategBG: #212721;
    --theme-tituloCategC: #ffffff;
    --theme-categBTL: #d0d0ce;
    --theme-categBBR: #000000;

    * Grupos (div.interior): background-color 
    --theme-interiorBG: #A9A9A9;

    * Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d 
    --theme-expandedBG: #808080;
    --theme-expandedC: #696969;
    --theme-expandedBTL: #d3d3d3;
    --theme-expandedBBR: #696969;

    * Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d
    --theme-expandBG: #212721;
    --theme-expandC: #ffffff;
    --theme-expandBTL: #c8c9c7;
    --theme-expandBBR: #2d2926;

    * input type=text and select: background-color, color
    --theme-inputBG: #d3d3d3;
    --theme-inputC: #000000;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;

    * Botão (input.submit, button): background-color, color, border s-e, border i-d
    --theme-buttonC: #ffffff;
    --theme-buttonBG: #212721;
    --theme-buttonBTL: #d0d0ce;
    --theme-buttonBBR: #000000;

    * Separadores (span.separador): background-color, color
    --theme-sepC: #101820;
    --theme-sepH: #101820;

    * Links (a): color, links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size
    --theme-linkC: #101820;
    --theme-expandedColor: #101820;
    --theme-linkH: #f5f5f5;

    * menus: botão: cor do botão 
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    * menus: o próprio background color, color
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;

    * opções da página em edição/criação. color
    --theme-opcoesC: #404040;
    */
}
body {
    background-color: var(--theme-bodyBG);
}
/* fortunes */
div.fortune {
    background-color: var(--theme-fortuneBG);
    color: var(--theme-fortuneC);
}
div.menuBarra {
    background-color: var(--theme-fortuneBG);
    color: var(--theme-fortuneC);
}
div.menuBarraItem {
    background-color: transparent;
}
.copyright {
    color: var(--theme-fortuneC);
}
/* categorias (colunas) */
div.titulo {
    background-color: var(--theme-tituloBG);
    color: var(--theme-tituloC);
    border-bottom-color: var(--theme-tituloBB);
}
div.tituloCategoria, div.tituloLateral {
    background-color: var(--theme-tituloCategBG);
    color: var(--theme-tituloCategC);
    border-Top-color: var(--theme-categBTL); 
    border-Left-color: var(--theme-categBTL);
    border-Bottom-color: var(--theme-categBBR); 
    border-Right-color: var(--theme-categBBR);
}
/* grupos de links */
div.expanded, div.expandable:hover, div.interior:hover {
    background-color: var(--theme-expandedBG);
    color: var(--theme-expandedC);
    border-top-color: var(--theme-expandedBTL);
    border-left-color: var(--theme-expandedBTL);
    border-bottom-color: var(--theme-expandedBBR);
    border-right-color: var(--theme-expandedBBR);
}
div.headexpandable, div.headclickable {
    background-color: var(--theme-expandBG);
    color: var(--theme-expandC);
    border-Top-color: var(--theme-expandBTL); 
    border-Left-color: var(--theme-expandBTL);
    border-Bottom-color: var(--theme-expandBBR); 
    border-Right-color: var(--theme-expandBBR);
}
div.expanded a, div.expandable:hover a, div.interior:hover a {
  color: var(--theme-linkH);
}
/* links */
a {
    color: var(--theme-linkC);
}
a:hover, span.popup, div.expanded a:hover, div.expandable:hover a:hover, div.interior:hover a:hover {
    background-color: var(--theme-linkH);
    color: var(--theme-expandedColor);
    border-right-color: var(--theme-expandBBR);
    border-bottom-color: var(--theme-expandBBR);
}
span.separador, label.separador {
    color: var(--theme-sepC);
}
div.expanded span.separador,
div.expandable span.separador,
div.interior:hover span.separador,
div.expanded label.separador,
div.expandable label.separador,
div.interior:hover label.separador {
    color: var(--theme-sepH);
}
div.tituloColuna a {
    color: var(--theme-categC);
}
/* inputs, selects, buttons etc */
input[type=text], select {
    background-color: var(--theme-inputBG);
    color: var(--theme-inputC);
    border-Top-color: var(--theme-inputBTL); 
    border-Left-color: var(--theme-inputBTL);
    border-Bottom-color: var(--theme-inputBBR);
    border-Right-color: var(--theme-inputBBR);
}
input.submit, button {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-buttonC);
}
input[type=radio].selectElemento::after {
  color: var(--theme-tituloBB);
}
.reverseButton {
  background-color: transparent;
  color: var(--theme-bodyC);
  border-color: transparent;
  border-bottom-color: var(--theme-buttonBG) 1px solid;
}
.colorWheel {
  fill: var(--theme-bodyC);
}
/* páginas administrativas. */
div.subTitulo, div.itemLateral, div.coluna, div.tituloColuna, div.tituloSecao {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-tituloCategC);
}
div.opcoes {
    color: var(--theme-opcoesC);
}
.menuButton {
    background-color: var(--theme-mButtonBG);
    color: var(--theme-mButtonHBG);
}
.menuButton:hover {
    color: var(--theme-mButtonBG);
    background-color: var(--theme-mButtonHBG);
}
div.menuDropDown {
    background-color: var(--theme-mDropdownBG);
    color: var(--theme-mDropdownC);
    border-left-color: var(--theme-mDropdownBTL);
    border-top-color: var(--theme-mDropdownBTL);
    border-right-color: var(--theme-mDropdownBBR);
    border-bottom-color: var(--theme-mDropdownBBR);
}
div.item, div.itemstats {
  border-color: var(--theme-bodyC); 
  color: var(--theme-itemC);
}
div.colunaTransparente, div.colunaTransparente div.item {
	border-bottom: 1pt var(--theme-dark) solid;
}
#form_div {
    background-color: var(--theme-bodyBG);
}
#invisivel_div {
    background-color: var(--theme-light);
}
div.tituloCores {
    color: var(--theme-tituloCategC);
    background-color: var(--theme-tituloCategBG);
    border-top-color: var(--theme-tituloBB);
    border-bottom-color: var(--theme-tituloBB);

}
label.boxRadioLabel {
    color: var(--theme-bodyC);
}
