/*-------------------------------------------------------------------------

  colorbase.css
  (c) ecgf - 2024

  colorbase.css - define cores para os elementos definidos em base.css

  a partir daqui, os estilos de cor só precisam mexer no elemento :root
---------------------------------------------------------------------------*/
:root {
    --theme-dark: black;
    --theme-medium: gray;
    --theme-light: white;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: #D3D3D3;
    --theme-bodyC: #696969;
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: #2F4F4F;
    --theme-tituloC: #F5F5F5;
    --theme-tituloBB: #778899;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: #2F4F4F;
    --theme-fortuneC: #F5F5F5;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: #2F4F4F;
    --theme-tituloCategC: #F5F5F5;
    --theme-categBTL: #708090;
    --theme-categBBR: black;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: gray;
    --theme-expandedBTL: #D3D3D3;
    --theme-expandedBBR: #696969;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: #2F4F4F;
    --theme-expandC: #F5F5F5;
    --theme-expandBTL: #708090;
    --theme-expandBBR: #2F4F4F;
    /* input type=text and select: background-color, color */
    --theme-inputBG: #D3D3D3;
    --theme-inputC: black;
    --theme-inputBTL: black;
    --theme-inputBBR: #C0C0C0;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: #F5F5F5;
    --theme-buttonBG: #2F4F4F;
    --theme-buttonBTL: #708090;
    --theme-buttonBBR: black;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: #696969;
    /* Links (a): color */
    --theme-linkC: #696969;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-expandedColor: #333333;
    --theme-linkH: #F5F5F5;
    /* Grupos (div.interior): background-color */
    --theme-interiorBG: #A9A9A9;
}
body {
    background-color: var(--theme-bodyBG);
}
/* fortunes */
div.fortune,
div.novoFilho {
    background-color: var(--theme-fortuneBG);
    color: var(--theme-fortuneC);
}
.copyright {
    color: var(--theme-fortuneC);
}
/* categorias (colunas) */
div.titulo {
    background-color: var(--theme-tituloBG);
    color: var(--theme-tituloC);
    border-bottom-color: var(--theme-tituloBB);
}
div.tituloCategoria, div.tituloLateral {
    background-color: var(--theme-tituloCategBG);
    color: var(--theme-tituloCategC);
    border-Top-color: var(--theme-expandBTL); 
    border-Left-color: var(--theme-expandBTL);
    border-Bottom-color: var(--theme-expandBBR); 
    border-Right-color: var(--theme-expandBBR);
}
/* grupos de links */
div.expanded, div.expandable:hover, div.interior:hover {
    background-color: var(--theme-expandedBG);
    border-top-color: var(--theme-expandedBTL);
    border-left-color: var(--theme-expandedBTL);
    color: var(--theme-expandedC);
}
div.headexpandable, div.headclickable {
    background-color: var(--theme-expandBG);
    border-Top-color: var(--theme-expandBTL); 
    border-Left-color: var(--theme-expandBTL);
    border-Bottom-color: var(--theme-expandBBR); 
    border-Right-color: var(--theme-expandBBR);
    color: var(--theme-expandC);
}
div.expanded a, div.expandable:hover a, div.interior:hover a {
  color: var(--theme-linkH);
}
/* links */
a {
    color: var(--theme-linkC);
}
a:hover, span.popup, div.expanded a:hover, div.expandable:hover a:hover, div.interior:hover a:hover {
    background-color: var(--theme-linkH);
    color: var(--theme-expandedColor);
    border-right-color: var(--theme-expandBBR);
    border-bottom-color: var(--theme-expandBBR);
}
span.separador {
    color: var(--theme-sepC);
}
div.expanded span.separador, div.interior:hover span.separador {
    color: var(--theme-expandedSepC);
}
div.tituloColuna a {
    color: var(--theme-linkH);
}
div.tituloColuna:hover a {
    color: var(--theme-linkC);
}
/* inputs, selects, buttons etc */
input[type=text], select {
    background-color: var(--theme-inputBG);
    color: var(--theme-inputC);
    border-Top-color: var(--theme-inputBTL); 
    border-Left-color: var(--theme-inputBTL);
    border-Bottom-color: var(--theme-inputBBR);
    border-Right-color: var(--theme-inputBBR);
}
input.submit, button {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-buttonC);
}
/* páginas administrativas. */
div.subTitulo, div.itemLateral, div.coluna, div.tituloColuna {
  border-Top-color: var(--theme-buttonBTL); 
  border-Left-color: var(--theme-buttonBTL);
  border-Bottom-color: var(--theme-buttonBBR); 
  border-Right-color: var(--theme-buttonBBR);
  background-color: var(--theme-buttonBG);
  color: var(--theme-tituloCategC);
}
div.item {
  border-color: var(--theme-bodyC); 
  color: var(--theme-itemC);
}
div.colunaTransparente, div.colunaTransparente div.item {
	border-bottom: 1pt var(--theme-dark) solid;
}
#form_div {
    background-color: var(--theme-bodyBG);
}
#invisivel_div {
    background-color: var(--theme-light);
}
