/*----------------------------------------------------------

	Styles.css
	(c) ecgf - 2005

	Estilos utilizados em minha página pessoal.

----------------------------------------------------------*/

body.abobora a { color: firebrick; }
body.admin a { color: black; }
body.azul a	{ color: darkblue; }
body.black a { color: white; }
body.grey a { color: white; }
body.mariana a { color: purple; }
body.nazul a { color: white; }
body.tiago a { color: greenyellow; }
body.verde a { color: white; }
body.violeta a { color: white; }
body.wAzul a { color: darkblue; }

/* vim: set shiftwidth=4 tabstop=4: */	

