/*----------------------------------------------------------

  gGrey.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo gGrey - fundo grafiti, destaques em preto
------------------------------------------------------------*/
:root {
    --theme-dark: #404040;
    --theme-medium: #709090;
    --theme-light: #e4dcbb;
    --theme-bodyBG: #708090;
    --theme-bodyC: #202020;
    --theme-tituloBG: #404040;
    --theme-tituloC: #c6b9a6;
    --theme-tituloBB: #e4dcbb;
    --theme-fortuneBG: #404040;
    --theme-fortuneC: #e4dcbb;
    --theme-tituloCategBG: #404040;
    --theme-tituloCategC: #e4dcbb;
    --theme-categBTL: #ADD8E6;
    --theme-categBBR: #00008B;
    --theme-interiorBG: #A9A9A9;
    --theme-expandedBG: #666666;
    --theme-expandedC: #e4dcbb;
    --theme-expandedBTL: #999999;
    --theme-expandedBBR: #000000;
    --theme-expandBG: #404040;
    --theme-expandC: #e4dcbb;
    --theme-expandBTL: #999999;
    --theme-expandBBR: #000000;
    --theme-inputBG: #F5F5F5;
    --theme-inputC: #2F4F4F;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;
    --theme-buttonC: #e4dcbb;
    --theme-buttonBG: #404040;
    --theme-buttonBTL: #999999;
    --theme-buttonBBR: #000000;
    --theme-sepC: #404040;
    --theme-sepH: #404040;
    --theme-linkC: #101010;
    --theme-linkH: #e4dcbb;
    --theme-expandedColor: #101820;
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;
    --theme-opcoesC: #404040;
}
