/*----------------------------------------------------------

  gGrey.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo gGrey - fundo grafiti, destaques em preto
------------------------------------------------------------*/
:root {
    --theme-dark: #404040;
    --theme-medium: #709090;
    --theme-light: #e4dcbb;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: #708090;
    --theme-bodyC: #202020;
    --theme-picColor: url("../drawing/background.php?r=119&g=133&b=153"); /* silver; */
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: #404040;
    --theme-tituloC: #c6b9a6;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: #404040;
    --theme-fortuneC: #e4dcbb;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: #404040;
    --theme-tituloCategC: #e4dcbb;
    --theme-categBTL: lightblue;
    --theme-categBBR: darkblue;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: #666666;
    --theme-expandedC: #e4dcbb;
    --theme-expandedBTL: #999999;
    --theme-expandedBBR: #000000;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: #404040;
    --theme-expandC: #e4dcbb;
    --theme-expandBTL: #999999;
    --theme-expandBBR: #000000;
    /* input type=text and select: background-color, color */
    --theme-inputBG: whitesmoke;
    --theme-inputC: darkslategray;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: #e4dcbb;
    --theme-buttonBG: #404040;
    --theme-buttonBTL: #999999;
    --theme-buttonBBR: #000000;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: #404040;
    --theme-expandedSepC: #e4dcbb;
    /* Links (a): color */
    --theme-linkC: #101010;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-linkExpandedColor: #101010;
    --theme-linkH: #e4dcbb;
    --theme-fontS: 1.2em;
    /* Grupos (div.interior): background-color */
    --theme-interiorBG: #999999;
    /* div.item: color */
    --theme-itemC: #404040;
}
