/*----------------------------------------------------------

  grey.css
  (c) ecgf - 2006

  ver base.css, que determina a estrutura da página.
----------------------------------------------------------*/

/*------------------------------------------------------------
  Estilo grey - fundo em cinza, detalhes em navy
------------------------------------------------------------*/

body.grey {
background-color: #708090;
color: #ffffff;
background-image: url("../drawing/background.php?r=119&g=136&b=153");
}
body.grey a:hover span.popup {
background-color: #666666;
border-top-color: #FFFFFF;
border-left-color: #FFFFFF;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.titulo, body.grey div.wtitulo {
 background-color: #000080;
color: #fff5ee;
}
body.grey div.wtitulo a
  {
  	color: white;
	font-weight: bold;
  }
body.grey div.fortune {
 background-color: #000080;
color: #ffffff;
}
body.grey div.tituloCategoria {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.tituloLateral {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.itemLateral {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.subTitulo {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.coluna {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.tituloColuna {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.expanded {
 background-color: #666666;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.interior:hover {
 background-color: #666666;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.expandable:hover {
 background-color: #666666;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey div.headexpandable {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
}
body.grey div.headclickable {
 background-color: #000080;
color: #ffffff;
border-top-color: #999999;
border-left-color: #999999;
}
body.grey input.submit {
 color: #ffffff;
background-color: #000080;
border-top-color: #999999;
border-left-color: #999999;
border-bottom-color: #000000;
border-right-color: #000000;
}
body.grey span.separador {
 color: #303030;
}
body.grey a {
 color: #ffffff;
}
body.grey div.expanded a {
 color: #ffffff;
}
body.grey div.expandable:hover a {
 color: #ffffff;
}
body.grey div.interior:hover a {
 color: #ffffff;
}
body.grey a:hover {
 background-color: #000080;
}
body.grey div.expanded a:hover {
 background-color: #000080;
}
body.grey div.expandable:hover a:hover {
 background-color: #000080;
}
body.grey div.interior:hover a:hover {
 background-color: #000080;
}

