:root {
    --theme-dark: #8b5742;
    --theme-medium: #e7bf2b;
    --theme-light: #fff9e4;
    --theme-bodyBG: #FFFFFF; 
    --theme-bodyC: #d2691e;
    --theme-buttonBG: #DDD705; 
    --theme-buttonC: #000000; 
    --theme-expandBG: #DADB07; 
    --theme-expandC: #333333; 
    --theme-expandedBG: #F9F9C1; 
    --theme-expandedColor: #FFFFFF; 
    --theme-fortuneBG: #E3D505; 
    --theme-fortuneC: #333333; 
    --theme-linkC: #808080; 
    --theme-linkH: #BCB94A; 
    --theme-picColor: url('../drawing/background.php?r=249&g=249&b=193'); 
    --theme-tituloBG: #DADB07; 
    --theme-tituloC: #333333; 
    --theme-tituloCategBG: #E3DC09; 
    --theme-tituloCategC: #333333; 
}
