:root {
    --theme-opcoesC: #404040; 
    --theme-buttonBBR: #000000; 
    --theme-buttonBTL: #d0d0ce; 
    --theme-buttonBG: #68217a; 
    --theme-buttonC: #ffffff; 
    --theme-categBBR: #000000; 
    --theme-categBTL: #d0d0ce; 
    --theme-tituloCategBG: #68217a; 
    --theme-tituloCategC: #ffffff; 
    --theme-fortuneBG: #68217a; 
    --theme-fortuneC: #ffffff; 
    --theme-expandBBR: #2d2926; 
    --theme-expandedBBR: #696969; 
    --theme-expandBTL: #c8c9c7; 
    --theme-expandedBTL: #d3d3d3; 
    --theme-interiorBG: #a9a9a9; 
    --theme-expandBG: #68217a; 
    --theme-expandedBG: #e5c6db; 
    --theme-expandC: #ffffff; 
    --theme-expandedC: #e4dcbb; 
    --theme-inputBBR: #c0c0c0; 
    --theme-inputBTL: #000000; 
    --theme-inputBG: #d3d3d3; 
    --theme-inputC: #000000; 
    --theme-expandedColor: #ffffff; 
    --theme-linkC: #512654; 
    --theme-linkH: #512654; 
    --theme-mDropdownBBR: #000000; 
    --theme-mDropdownBTL: #404040; 
    --theme-mDropdownBG: #f7f7f7; 
    --theme-mButtonBG: #af72c1; 
    --theme-mButtonHBG: #7a1e99; 
    --theme-mDropdownC: #111111; 
    --theme-bodyBG: #ffffff; 
    --theme-bodyC: #696969; 
    --theme-sepC: #512654; 
    --theme-sepH: #512654; 
    --theme-light: #d9d9d6; 
    --theme-dark: #101820; 
    --theme-medium: #a7a8aa; 
    --theme-tituloBB: #af72c1; 
    --theme-tituloBG: #68217a; 
    --theme-tituloC: #ffffff; 
}
