:root {
    --theme-opcoesC: #512654;
    --theme-buttonBBR: #68217a;
    --theme-buttonBTL: #68217a;
    --theme-buttonBG: #68217a; 
    --theme-buttonC: #ffffff;
    --theme-categBBR: #68217a;
    --theme-categBTL: #68217a;
    --theme-tituloCategBG: #68217a; 
    --theme-tituloCategC: #ffffff; 
    --theme-fortuneBG: #68217a; 
    --theme-fortuneC: #ffffff; 
    --theme-expandBBR: #68217a;
    --theme-expandBTL: #68217a;
    --theme-expandedBBR: #e5c6db;
    --theme-expandedBTL: #e5c6db;
    --theme-interiorBG: #e5c6db; 
    --theme-expandBG: #68217a; 
    --theme-expandedBG: #e5c6db; 
    --theme-expandC: #ffffff; 
    --theme-expandedC: #ffffff;
    --theme-inputBBR: #F0E6ED; 
    --theme-inputBG: #F0E6ED;
    --theme-inputBTL: #F0E6ED;
    --theme-inputC: #512654;
    --theme-expandedColor: #ffffff; 
    --theme-linkC: #512654; 
    --theme-linkH: #512654; 
    --theme-mDropdownBBR: #FFFFFF; 
    --theme-mDropdownBTL: #FFFFFF;
    --theme-mDropdownBG: #f7f7f7; 
    --theme-mButtonBG: #af72c1; 
    --theme-mButtonHBG: #7a1e99; 
    --theme-mDropdownC: #111111; 
    --theme-bodyBG: #ffffff; 
    --theme-bodyC: #512654; 
    --theme-sepC: #512654; 
    --theme-sepH: #512654;
    --theme-dark: #512654;
    --theme-light: #e5c6db;
    --theme-medium: #af72c1; 
    --theme-tituloBB: #af72c1; 
    --theme-tituloBG: #68217a; 
    --theme-tituloC: #ffffff; 
}
