/*----------------------------------------------------------

  Tiago.css
  (c) ecgf - 2005

  ver base.css, que determina a estrutura da página.
----------------------------------------------------------*/

/*------------------------------------------------------------
  Cores do Tiago
------------------------------------------------------------*/
body.tiago
  {
  background-color: darkblue;
  color: white; 
  background-image: url("../imagens/dazul_bkg.gif");
  }
body.tiago a
  { 
  color: greenyellow; 
  }
body.tiago a:hover span.popup 
  {
  background-color: darkblue;
  color: white;
  border-right-color: black;
  border-bottom-color: black;
  }
body.tiago span.separador
  {
  color: white;
  }
body.tiago div.tituloCategoria, body.tiago div.tituloLateral
  {
  background-color: maroon; 
  border-Top-color: lightblue; 
  border-Left-color: lightblue;
  border-Bottom-color: darkblue; 
  border-Right-color: darkblue; Color: #00CC99;
  }
body.tiago div.titulo
  {
  background-color: maroon; color: #00CC99;
  }
body.tiago div.headexpandable
  {
  background-color: darkblue;
  border-top-color: lightblue;
  border-left-color: lightblue; color: #0066FF;
  }
body.tiago div.headclickable 
  {
  background-color: darkblue;
  border-top-color: lightblue;
  border-left-color: lightblue; color: #0066FF;
  }
body.tiago div.expanded, body.tiago div.expandable:hover, body.tiago div.interior:hover
  {
  background-color: steelblue;
  border-Top-color: lightblue; 
  border-Left-color: lightblue;
  border-Bottom-color: darkblue; 
  border-Right-color: darkblue;
  }
body.tiago div.expanded a, body.tiago div.expandable:hover a, body.tiago div.interior:hover a
  {
  Color: greenyellow;
  }
body.tiago div.fortune
  {
  background-color: maroon;
  color: #00CC99;
  }
body.tiago input, body.tiago select
  {
  background-color: lightskyblue;
  color: #0066FF;
  }
body.tiago input.submit
  {
  background-color: maroon; 
  border-Top-color: lightblue; 
  border-Left-color: lightblue;
  border-Bottom-color: darkblue; 
  border-Right-color: darkblue;
  Color: #00CC99;
  }
/* 
 * páginas administrativas. 
 *
 */
body.tiago div.subTitulo, body.tiago div.itemLateral, body.tiago div.coluna, body.tiago div.tituloColuna {
  background-color: maroon; 
  border-Top-color: lightblue; 
  border-Left-color: lightblue;
  border-Bottom-color: darkblue; 
  border-Right-color: darkblue;
  Color: #00CC99;
}
body.tiago div.item {
  border-color: maroon;
}
body.tiago div.colunaTransparente {
	border-bottom: 1pt maroon solid;
}
