@font-face {
  font-family: "Ubuntu Sans Mono";
  src: url("../webfonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}
