/*----------------------------------------------------------

  violeta.css
  (c) ecgf - 2005

  ver base.css, que determina a estrutura da página.
----------------------------------------------------------*/

/*------------------------------------------------------------
  Estilo violeta - fundo violeta, detalhes em firebrick
------------------------------------------------------------*/
body.violeta
  {
  background-color: mediumvioletred;
  color: white; 
  background-image: url("../imagens/dvioleta_bkg.gif");
  }
body.violeta a
  { 
  color: white; 
  }
body.violeta a:hover span.popup 
  {
  background-color: mediumvioletred;
  color: white;
  border-right-color: firebrick;
  border-bottom-color: firebrick;
  }
body.violeta span.separador
  {
  color: white;
  }
body.violeta div.tituloCategoria, body.violeta div.tituloLateral
  {
  background-color: firebrick;
  border-Top-color: mistyrose; 
  border-Left-color: mistyrose;
  border-Bottom-color: firebrick; 
  border-Right-color: firebrick;
  }
body.violeta div.titulo, body.violeta div.wtitulo
  {
  background-color: firebrick;
  }
body.violeta div.wtitulo a
  {
  	color: white;
	font-weight: bold;
  }
body.violeta div.headexpandable
  {
  background-color: mediumvioletred;
  border-top-color: mistyrose;
  border-left-color: mistyrose;
  }
body.violeta div.headclickable 
  {
  background-color: mediumvioletred;
  border-top-color: mistyrose;
  border-left-color: mistyrose;
  }
body.violeta div.expanded, body.violeta div.expandable:hover, body.violeta div.interior:hover
  {
  background-color: plum;
  border-Top-color: mistyrose; 
  border-Left-color: mistyrose;
  border-Bottom-color: firebrick; 
  border-Right-color: firebrick;
  }
body.violeta div.expanded a, body.violeta div.expandable:hover a, body.violeta div.interior:hover a
  {
  Color: white;
  }
body.violeta div.fortune
  {
  background-color: firebrick;
  color: white;
  }
body.violeta input, body.violeta select
  {
  border-Top-color: firebrick; 
  border-Left-color: firebrick;
  border-Bottom-color: mistyrose; 
  border-Right-color: mistyrose;
  background-color: plum;
  color: darkred;
  }
body.violeta input.submit
  {
  border-Top-color: mistyrose; 
  border-Left-color: mistyrose;
  border-Bottom-color: firebrick; 
  border-Right-color: firebrick;
  background-color: deeppink;
  color: white;
  }
/* 
 * páginas administrativas. 
 *
 */
body.verde div.subTitulo, body.verde div.itemLateral, body.verde div.coluna, body.verde div.tituloColuna {
  border-Top-color: mistyrose; 
  border-Left-color: mistyrose;
  border-Bottom-color: firebrick; 
  border-Right-color: firebrick;
  background-color: deeppink;
  color: white;
}
body.verde div.item {
	border-color: deepping;
}
body.black div.colunaTransparente {
	border-bottom: 1pt deeppink solid;
}
