/*----------------------------------------------------------

  wgazul.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo wgazul - fundo branco, destaques em azul facebook
------------------------------------------------------------*/
:root {
    --theme-dark: #43609C;
    --theme-medium: whitesmoke;
    --theme-light: #C0C0C0;
    /* Página (body): background-color, color, background-image */
    --theme-bodyBG: white;
    --theme-bodyC: #333333;
    --theme-picColor: url("../drawing/background.php?r=240&g=240&b=240"); /* silver; */
    /* Título da página (div.titulo): background-color, color */
    --theme-tituloBG: #43609C;
    --theme-tituloC: whitesmoke;
    /* fortune (div.fortune): background-color, color */
    --theme-fortuneBG: #43609C;
    --theme-fortuneC: white;
    /* Categorias (div.tituloCategoria;div.tituloLateral;div.itemLateral;div.subTitulo;div.coluna;div.tituloColuna): background-color, color, border s-e, border i-d */
    --theme-tituloCategBG: #43609C;
    --theme-tituloCategC: #fffff0;
    --theme-categBTL: lightblue;
    --theme-categBBR: darkblue;
    /* Grupos (div.expanded;div.interior:hover;div.expandable:hover): background-color, color, border s-e, border i-d */
    --theme-expandedBG: white;
    --theme-expandedC: #333333;
    --theme-expandedBTL: lightblue;
    --theme-expandedBBR: darkblue;
    /* Grupos (div.headexpandable;div.headclickable): background-color, color, border s-e, border i-d */
    --theme-expandBG: #43609C;
    --theme-expandC: white;
    --theme-expandBTL: lightblue;
    --theme-expandBBR: darkblue;
    /* input type=text and select: background-color, color */
    --theme-inputBG: whitesmoke;
    --theme-inputC: darkslategray;
    /* Botão (input.submit, button): background-color, color, border s-e, border i-d */
    --theme-buttonC: white;
    --theme-buttonBG: #43609C;
    --theme-buttonBTL: lightblue;
    --theme-buttonBBR: darkblue;
    /* Separadores (span.separador): background-color, color */
    --theme-sepC: #333333;
    --theme-expandedSepC: #333333;
    /* Links (a): color */
    --theme-linkC: #404040;
    /* Links when hover (a:hover;div.expanded a;div.expandable:hover a;div.interior:hover a ): background-color, color, font-size */
    --theme-expandedColor: white;
    --theme-linkH: #B0B0B0;
    --theme-fontS: 1.2em;
    /* Grupos (div.interior): background-color */
    --theme-interiorBG: darkgray;
    /* div.item: color */
    --theme-itemC: #43609C;
}
