/*----------------------------------------------------------

  abobora.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo abobora - fundo salmão, destaques em abobora.
------------------------------------------------------------*/
:root {
    --cor-dark: #B22222;
    --cor-medium: #FFCC66;
    --cor-light: #FFFF99;
    --cor-bodyBG: #FFCC66;
    --cor-bodyC: white;
    --cor-tituloBG: #FF8C00;
    --cor-tituloC: #F5F5F5;
    --cor-tituloBB: #B24645;
    --cor-fortuneBG: #FFFF99;
    --cor-fortuneC: #B22222;
    --cor-tituloCategBG: #FF8C00;
    --cor-tituloCategC: white;
    --cor-categBTL: #FFD700;
    --cor-categBBR: #D2691E;
    --cor-interiorBG: #FFFF99;
    --cor-expandedBG: #FF8C00;
    --cor-expandedBTL: #FFFF00;
    --cor-expandedBBR: #B22222;
    --cor-expandBG: #FF8C00;
    --cor-expandC: white;
    --cor-expandBTL: #FFFF00;
    --cor-expandBBR: #B22222;
    --cor-inputBG: #FFFDB8; 
    --cor-inputC: #B22222;
    --cor-inputBBR: #FFFF99;
    --cor-inputBTL: #B22222;
    --cor-buttonC: #B22222;
    --cor-buttonBG: #FF8C00;
    --cor-buttonBTL: #FFFF00;
    --cor-buttonBBR: #FFA500;
    --cor-sepC: white;
    --cor-sepH: white;
    --cor-linkC: #B22222;
    --cor-linkH: #B22222;
    --cor-expandedColor: white;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #909090;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #B22222;
    --cor-logostarBG: #FFFF99;
}
/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    color: white;
}
