/*----------------------------------------------------------

  admin.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo Admin - fundo branco, destaques em abobora
------------------------------------------------------------*/
:root {
    --cor-dark: #FF8C00;
    --cor-light: #FFFFFF;
    --cor-medium: #FA8072;
    --cor-bodyBG: white;
    --cor-bodyC: black;
    --cor-tituloBG: #FF8C00;
    --cor-tituloC: black;
    --cor-tituloBB: black;
    --cor-fortuneBG: #FFCC66;
    --cor-fortuneC: #B22222;
    --cor-tituloCategBG: #FF8C00;
    --cor-tituloCategC: black;
    --cor-categBTL: #FFD700;
    --cor-categBBR: #D2691E;
    --cor-interiorBG: #A9A9A9;
    --cor-expandedBG: #FF8C00;
    --cor-expandedBTL: #FFD700;
    --cor-expandedBBR: #D2691E;
    --cor-expandBG: #FF8C00;
    --cor-expandC: black;
    --cor-expandBTL: #FFFF00;
    --cor-expandBBR: #FF8C00;
    --cor-inputBG: #FFCC66;
    --cor-inputC: #B22222;
    --cor-inputBTL: #000000;
    --cor-inputBBR: #c0c0c0;
    --cor-buttonC: black;
    --cor-buttonBG: #FF8C00;
    --cor-buttonBTL: #FFD700;
    --cor-buttonBBR: #D2691E;
    --cor-sepC: black;
    --cor-sepH: #404040;
    --cor-linkC: black;
    --cor-linkH: black;
    --cor-expandedColor: white;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #909090;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #b22222;
}
/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    color: white;
}
