/*----------------------------------------------------------

  azul.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo azul - fundo azul claro, destaques em azul escuro
------------------------------------------------------------*/
:root {
    --cor-dark: #00008B;
    --cor-medium: #4682B4;
    --cor-light: #B0C4DE;
    --cor-bodyBG: #B0C4DE;
    --cor-bodyC: white;
    --cor-tituloBG: #4682B4;
    --cor-tituloC: white;
    --cor-tituloBB: #43609C;
    --cor-fortuneBG: #4682B4;
    --cor-fortuneC: white;
    --cor-tituloCategBG: #4682B4;
    --cor-tituloCategC: white;
    --cor-categBTL: #ADD8E6;
    --cor-categBBR: #00008B;
    --cor-interiorBG: #A9A9A9;
    --cor-expandedBG: #4682B4;
    --cor-expandedBTL: #ADD8E6;
    --cor-expandedBBR: #00008B;
    --cor-expandBG: #4682B4;
    --cor-expandC: white;
    --cor-expandBTL: #ADD8E6;
    --cor-expandBBR: #00008B;
    --cor-inputBG: #D3D3D3;
    --cor-inputC: #00008B;
    --cor-inputBTL: #000000;
    --cor-inputBBR: #c0c0c0;
    --cor-buttonC: white;
    --cor-buttonBG: #4682B4;
    --cor-buttonBTL: #B0C4DE;
    --cor-buttonBBR: #00008B;
    --cor-sepC: white;
    --cor-sepH: white;
    --cor-linkC: #00008B;
    --cor-linkH: white;
    --cor-expandedColor: #4682B4;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #909090;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #404040;

}

body.azul #temaClass {
    --nome-tema: 'azul';
}

/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    background-color: #4682B4;
    color: white;
}
