/*----------------------------------------------------------

  black.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo black - fundo grafite escuro, destaques em abobora
------------------------------------------------------------*/
:root {
    --theme-dark: #202020;
    --theme-light: #C0C0C0;
    --theme-medium: #F7F7F7;
    --theme-bodyBG: #373737;
    --theme-bodyC: white;
    --theme-tituloBG: white;
    --theme-tituloC: #202020;
    --theme-fortuneBG: #202020; 
    --theme-fortuneC: #FFFFFF;
    --theme-tituloCategBG: #202020; 
    --theme-tituloCategC: white;
    --theme-categBBR: #202020; 
    --theme-categBTL: #7F7F7F; 
    --theme-interiorBG: #A9A9A9;
    --theme-expandedBG: #C0C0C0;
    --theme-expandedBTL: #7F7F7F;
    --theme-expandedBBR: #202020;
    --theme-expandBBR: #202020; 
    --theme-expandBG: #373737; 
    --theme-expandBTL: #7F7F7F; 
    --theme-tituloBB: #C0C0C0;
    --theme-inputBG: #DFDFDF;
    --theme-inputC: black;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;
    --theme-buttonBBR: #000000; 
    --theme-buttonBG: #373737; 
    --theme-buttonBTL: #7F7F7F; 
    --theme-buttonC: #FFFFFF; 
    --theme-sepC: black;
    --theme-sepH: black;
    --theme-linkC: white;
    --theme-linkH: #373737;
    --theme-expandedColor: white;
    --theme-interiorBG: black;
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;
    --theme-opcoesC: #f7f7f7;
}
