:root {
    --cor-opcoesC: #404040; 
    --cor-buttonBBR: #000000; 
    --cor-buttonBTL: #d0d0ce; 
    --cor-buttonBG: #009739; 
    --cor-buttonC: #ffffff; 
    --cor-categBBR: #000000; 
    --cor-categBTL: #d0d0ce; 
    --cor-tituloCategBG: #009739; 
    --cor-tituloCategC: #ffffff; 
    --cor-fortuneBG: #012169; 
    --cor-fortuneC: #ffffff; 
    --cor-expandBBR: #2d2926; 
    --cor-expandedBBR: #696969; 
    --cor-expandBTL: #c8c9c7; 
    --cor-expandedBTL: #d3d3d3; 
    --cor-interiorBG: #a9a9a9; 
    --cor-expandBG: #009739; 
    --cor-expandedBG: #11552b; 
    --cor-expandC: #ffffff; 
    --cor-expandedC: #e4dcbb; 
    --cor-inputBBR: #c0c0c0; 
    --cor-inputBTL: #000000; 
    --cor-inputBG: #badebb; 
    --cor-inputC: #012169; 
    --cor-expandedColor: #11552b; 
    --cor-linkC: #11552b; 
    --cor-linkH: #f5f5f5; 
    --cor-mDropdownBBR: #000000; 
    --cor-mDropdownBTL: #404040; 
    --cor-mDropdownBG: #f7f7f7; 
    --cor-mButtonBG: #404040; 
    --cor-mButtonHBG: #909090; 
    --cor-mDropdownC: #111111; 
    --cor-bodyBG: #ffffff; 
    --cor-bodyC: #696969; 
    --cor-sepC: #11552b; 
    --cor-sepH: #f7f7f7; 
    --cor-light: #8bc790; 
    --cor-dark: #17431f; 
    --cor-medium: #009739; 
    --cor-tituloBB: #fedd00; 
    --cor-tituloBG: #012169; 
    --cor-tituloC: #ffffff; 
    --cor-logostarBG: #ff6600;
}
