:root {
    --theme-opcoesC: #404040; 
    --theme-buttonBBR: #000000; 
    --theme-buttonBTL: #d0d0ce; 
    --theme-buttonBG: #009739; 
    --theme-buttonC: #ffffff; 
    --theme-categBBR: #000000; 
    --theme-categBTL: #d0d0ce; 
    --theme-tituloCategBG: #009739; 
    --theme-tituloCategC: #ffffff; 
    --theme-fortuneBG: #012169; 
    --theme-fortuneC: #ffffff; 
    --theme-expandBBR: #2d2926; 
    --theme-expandedBBR: #696969; 
    --theme-expandBTL: #c8c9c7; 
    --theme-expandedBTL: #d3d3d3; 
    --theme-interiorBG: #a9a9a9; 
    --theme-expandBG: #009739; 
    --theme-expandedBG: #11552b; 
    --theme-expandC: #ffffff; 
    --theme-expandedC: #e4dcbb; 
    --theme-inputBBR: #c0c0c0; 
    --theme-inputBTL: #000000; 
    --theme-inputBG: #badebb; 
    --theme-inputC: #012169; 
    --theme-expandedColor: #11552b; 
    --theme-linkC: #11552b; 
    --theme-linkH: #f5f5f5; 
    --theme-mDropdownBBR: #000000; 
    --theme-mDropdownBTL: #404040; 
    --theme-mDropdownBG: #f7f7f7; 
    --theme-mButtonBG: #404040; 
    --theme-mButtonHBG: #909090; 
    --theme-mDropdownC: #111111; 
    --theme-bodyBG: #ffffff; 
    --theme-bodyC: #696969; 
    --theme-sepC: #11552b; 
    --theme-sepH: #f7f7f7; 
    --theme-light: #8bc790; 
    --theme-dark: #17431f; 
    --theme-medium: #009739; 
    --theme-tituloBB: #fedd00; 
    --theme-tituloBG: #012169; 
    --theme-tituloC: #ffffff; 
}
