/*----------------------------------------------------------

  gGrey.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo gGrey - fundo grafiti, destaques em preto
------------------------------------------------------------*/
:root {
    --cor-dark: #404040;
    --cor-medium: #709090;
    --cor-light: #e4dcbb;
    --cor-bodyBG: #708090;
    --cor-bodyC: #202020;
    --cor-tituloBG: #404040;
    --cor-tituloC: #c6b9a6;
    --cor-tituloBB: #e4dcbb;
    --cor-fortuneBG: #404040;
    --cor-fortuneC: #e4dcbb;
    --cor-tituloCategBG: #404040;
    --cor-tituloCategC: #e4dcbb;
    --cor-categBTL: #ADD8E6;
    --cor-categBBR: #00008B;
    --cor-interiorBG: #A9A9A9;
    --cor-expandedBG: #666666;
    --cor-expandedC: #e4dcbb;
    --cor-expandedBTL: #999999;
    --cor-expandedBBR: #000000;
    --cor-expandBG: #404040;
    --cor-expandC: #e4dcbb;
    --cor-expandBTL: #999999;
    --cor-expandBBR: #000000;
    --cor-inputBG: #F5F5F5;
    --cor-inputC: #2F4F4F;
    --cor-inputBTL: #000000;
    --cor-inputBBR: #c0c0c0;
    --cor-buttonC: #e4dcbb;
    --cor-buttonBG: #404040;
    --cor-buttonBTL: #999999;
    --cor-buttonBBR: #000000;
    --cor-sepC: #404040;
    --cor-sepH: #404040;
    --cor-linkC: #101010;
    --cor-linkH: #e4dcbb;
    --cor-expandedColor: #101820;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #909090;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #404040;
}
