/*-------------------------------------------------------------------------

  grayscale.css
  (c) ecgf - 2024

  ver colorbase.css, que define uso de cores nas páginas

  Estilo grayscale - escala em cinza
---------------------------------------------------------------------------*/
:root {
    --cor-dark: #101820;
    --cor-medium: #a7a8aa;
    --cor-light: #d9d9d6;
    --cor-bodyBG: #ffffff;
    --cor-bodyC: #696969;
    --cor-tituloBG: #a9a9a9;
    --cor-tituloC: #101820;
    --cor-tituloBB: #53565a;
    --cor-fortuneBG: #101820;
    --cor-fortuneC: #ffffff;
    --cor-tituloCategBG: #212721;
    --cor-tituloCategC: #ffffff;
    --cor-categBTL: #d0d0ce;
    --cor-categBBR: #000000;
    --cor-interiorBG: #A9A9A9;
    --cor-expandedBG: #808080;
    --cor-expandedC: #e4dcbb;
    --cor-expandedBTL: #d3d3d3;
    --cor-expandedBBR: #696969;
    --cor-expandBG: #212721;
    --cor-expandC: #ffffff;
    --cor-expandBTL: #c8c9c7;
    --cor-expandBBR: #2d2926;
    --cor-inputBG: #d3d3d3;
    --cor-inputC: #000000;
    --cor-inputBTL: #000000;
    --cor-inputBBR: #c0c0c0;
    --cor-buttonC: #ffffff;
    --cor-buttonBG: #212721;
    --cor-buttonBTL: #d0d0ce;
    --cor-buttonBBR: #000000;
    --cor-sepC: #101820;
    --cor-sepH: #F7F7F7;
    --cor-linkC: #101820;
    --cor-linkH: #f5f5f5;
    --cor-expandedColor: #101820;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #D0D0D0;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #404040;
    --cor-logostarBG: #ff6600;
}
