:root {
    --theme-opcoesC: #222222; 
    --theme-buttonBBR: #e65100; 
    --theme-buttonBTL: #e65100; 
    --theme-buttonBG: #e65100; 
    --theme-buttonC: #ffffff; 
    --theme-categBBR: #e65100; 
    --theme-categBTL: #e65100; 
    --theme-tituloCategBG: #e65100; 
    --theme-tituloCategC: #ffffff; 
    --theme-fortuneBG: #e65100; 
    --theme-fortuneC: #ffffff; 
    --theme-expandBBR: #e65100; 
    --theme-expandedBBR: #fff3e0; 
    --theme-expandBTL: #e65100; 
    --theme-expandedBTL: #fff3e0; 
    --theme-interiorBG: #e5c6db; 
    --theme-expandBG: #e65100; 
    --theme-expandedBG: #fff3e0; 
    --theme-expandC: #ffffff; 
    --theme-expandedC: #ffffff; 
    --theme-inputBBR: #f7f7f7; 
    --theme-inputBTL: #ff8a65; 
    --theme-inputBG: #fff3e0; 
    --theme-inputC: #222222; 
    --theme-expandedColor: #ffffff; 
    --theme-linkC: #222222; 
    --theme-linkH: #d84315; 
    --theme-mDropdownBBR: #ffffff; 
    --theme-mDropdownBTL: #ffffff; 
    --theme-mDropdownBG: #f7f7f7; 
    --theme-mButtonBG: #e65100; 
    --theme-mButtonHBG: #ffffff; 
    --theme-mDropdownC: #111111; 
    --theme-bodyBG: #ffffff; 
    --theme-bodyC: #222222; 
    --theme-sepC: #bf360c; 
    --theme-sepH: #d84315; 
    --theme-light: #ffb74d; 
    --theme-dark: #d84315; 
    --theme-medium: #e65100; 
    --theme-tituloBB: #ffcc80; 
    --theme-tituloBG: #e65100; 
    --theme-tituloC: #ffffff; 
}
