:root {
    --cor-opcoesC: #222222;
    --cor-buttonBBR: #e65100;
    --cor-buttonBTL: #e65100;
    --cor-buttonBG: #e65100;
    --cor-buttonC: #ffffff; 
    --cor-categBBR: #e65100; 
    --cor-categBTL: #e65100;
    --cor-tituloCategBG: #e65100; 
    --cor-tituloCategC: #ffffff; 
    --cor-fortuneBG: #e65100; 
    --cor-fortuneC: #ffffff;
    --cor-expandBBR: #e65100;
    --cor-expandedBBR: #fff3e0;
    --cor-expandBTL: #e65100;
    --cor-expandedBTL: #fff3e0;
    --cor-interiorBG: #e5c6db;  
    --cor-expandBG: #e65100;
    --cor-expandedBG: #fff3e0;
    --cor-expandC: #ffffff;
    --cor-expandedC: #ffffff;
    --cor-inputBBR: #f7f7f7;
    --cor-inputBTL: #ff8a65;
    --cor-inputBG: #fff3e0;
    --cor-inputC: #222222;
    --cor-expandedColor: #ffffff;
    --cor-linkC: #222222; 
    --cor-linkH: #d84315;
    --cor-mDropdownBBR: #ffffff;
    --cor-mDropdownBTL: #ffffff;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mButtonBG: #e65100;
    --cor-mButtonHBG: #ffffff;
    --cor-mDropdownC: #111111;
    --cor-bodyBG: #ffffff; 
    --cor-bodyC: #222222; 
    --cor-sepC: #bf360c;
    --cor-sepH: #d84315; 
    --cor-light: #ffb74d; 
    --cor-dark: #d84315;
    --cor-medium: #e65100;
    --cor-tituloBB: #ffcc80;
    --cor-tituloBG: #e65100; 
    --cor-tituloC: #ffffff; 
    --cor-logostarBG: #ff6600;
}   

