:root {
    --cor-opcoesC: #222222; 
    --cor-buttonBBR: #68217a; 
    --cor-buttonBTL: #68217a; 
    --cor-buttonBG: #68217a; 
    --cor-buttonC: #ffffff; 
    --cor-categBBR: #68217a; 
    --cor-categBTL: #68217a; 
    --cor-tituloCategBG: #68217a; 
    --cor-tituloCategC: #ffffff; 
    --cor-fortuneBG: #68217a; 
    --cor-fortuneC: #ffffff; 
    --cor-expandBBR: #68217a; 
    --cor-expandedBBR: #e5c6db; 
    --cor-expandBTL: #68217a; 
    --cor-expandedBTL: #e5c6db; 
    --cor-interiorBG: #e5c6db; 
    --cor-expandBG: #68217a; 
    --cor-expandedBG: #f0e6ed; 
    --cor-expandC: #ffffff; 
    --cor-expandedC: #ffffff; 
    --cor-inputBBR: #f7f7f7; 
    --cor-inputBTL: #e5c6db; 
    --cor-inputBG: #f0e6ed; 
    --cor-inputC: #222222; 
    --cor-expandedColor: #ffffff; 
    --cor-linkC: #222222; 
    --cor-linkH: #222222; 
    --cor-mDropdownBBR: #ffffff; 
    --cor-mDropdownBTL: #ffffff; 
    --cor-mDropdownBG: #f7f7f7; 
    --cor-mButtonBG: #af72c1; 
    --cor-mButtonHBG: #7a1e99; 
    --cor-mDropdownC: #111111; 
    --cor-bodyBG: #ffffff; 
    --cor-bodyC: #222222; 
    --cor-sepC: #222222; 
    --cor-sepH: #222222; 
    --cor-light: #e5c6db; 
    --cor-dark: #512654; 
    --cor-medium: #af72c1; 
    --cor-tituloBB: #af72c1; 
    --cor-tituloBG: #68217a; 
    --cor-tituloC: #ffffff; 
    --font-rootFS: 12px;
}
