:root {
    --theme-opcoesC: #222222; 
    --theme-buttonBBR: #68217a; 
    --theme-buttonBTL: #68217a; 
    --theme-buttonBG: #68217a; 
    --theme-buttonC: #ffffff; 
    --theme-categBBR: #68217a; 
    --theme-categBTL: #68217a; 
    --theme-tituloCategBG: #68217a; 
    --theme-tituloCategC: #ffffff; 
    --theme-fortuneBG: #68217a; 
    --theme-fortuneC: #ffffff; 
    --theme-expandBBR: #68217a; 
    --theme-expandedBBR: #e5c6db; 
    --theme-expandBTL: #68217a; 
    --theme-expandedBTL: #e5c6db; 
    --theme-interiorBG: #e5c6db; 
    --theme-expandBG: #68217a; 
    --theme-expandedBG: #f0e6ed; 
    --theme-expandC: #ffffff; 
    --theme-expandedC: #ffffff; 
    --theme-inputBBR: #f7f7f7; 
    --theme-inputBTL: #e5c6db; 
    --theme-inputBG: #f0e6ed; 
    --theme-inputC: #222222; 
    --theme-expandedColor: #ffffff; 
    --theme-linkC: #222222; 
    --theme-linkH: #222222; 
    --theme-mDropdownBBR: #ffffff; 
    --theme-mDropdownBTL: #ffffff; 
    --theme-mDropdownBG: #f7f7f7; 
    --theme-mButtonBG: #af72c1; 
    --theme-mButtonHBG: #7a1e99; 
    --theme-mDropdownC: #111111; 
    --theme-bodyBG: #ffffff; 
    --theme-bodyC: #222222; 
    --theme-sepC: #222222; 
    --theme-sepH: #222222; 
    --theme-light: #e5c6db; 
    --theme-dark: #512654; 
    --theme-medium: #af72c1; 
    --theme-tituloBB: #af72c1; 
    --theme-tituloBG: #68217a; 
    --theme-tituloC: #ffffff; 
    --font-rootFS: 12px;
}
