/*----------------------------------------------------------

  wAzul.css
  (c) ecgf - 2006

  ver colorbase.css, que define uso de cores nas páginas

  Estilo wAzul - fundo branco, detalhes em azul escuro
------------------------------------------------------------*/
:root {
    --cor-dark: #00008B;
    --cor-medium: #4682B4;
    --cor-light: #B0C4DE;
    --cor-bodyBG: white;
    --cor-bodyC: white;
    --cor-tituloBG: #4682B4;
    --cor-tituloC: white;
    --cor-fortuneBG: #4682B4;
    --cor-fortuneC: white;
    --cor-tituloCategBG: #4682B4;
    --cor-tituloCategC: white;
    --cor-categBTL: #ADD8E6;
    --cor-categBBR: #00008B;
    --cor-expandedBG: #4682B4;
    --cor-expandedC: white;
    --cor-expandedBTL: #B0C4DE;
    --cor-expandedBBR: #00008B;
    --cor-expandBG: #4682B4;
    --cor-expandC: white;
    --cor-expandBTL: #B0C4DE;
    --cor-expandBBR: #00008B;
    --cor-inputBG: #D3D3D3;
    --cor-inputC: black;
    --cor-buttonC: white;
    --cor-buttonBG: #4682B4;
    --cor-buttonBTL: #B0C4DE;
    --cor-buttonBBR: #00008B;
    --cor-sepC: navy;
    --cor-expandedSecC: white;
    --cor-linkC: #00008B;
    --cor-linkH: white;
    --cor-expandedColor: #4682B4;
    --cor-interiorBG: #4682B4;
    --cor-fontS: 1.2em;
    --cor-logostarBG: #ff6600;
}
