/*----------------------------------------------------------

  wgazul.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo wgazul - fundo branco, destaques em azul facebook
------------------------------------------------------------*/
:root {
    --cor-dark: #43609C;
    --cor-medium: #F5F5F5;
    --cor-light: #C0C0C0;
    --cor-bodyBG: white;
    --cor-bodyC: #333333;
    --cor-tituloBG: #43609C;
    --cor-tituloC: #F5F5F5;
    --cor-fortuneBG: #43609C;
    --cor-fortuneC: white;
    --cor-tituloCategBG: #43609C;
    --cor-tituloCategC: #fffff0;
    --cor-categBTL: #ADD8E6;
    --cor-categBBR: #00008B;
    --cor-expandedBG: white;
    --cor-expandedC: #333333;
    --cor-expandedBTL: #ADD8E6;
    --cor-expandedBBR: #00008B;
    --cor-expandBG: #43609C;
    --cor-expandC: white;
    --cor-expandBTL: #ADD8E6;
    --cor-expandBBR: #00008B;
    --cor-inputBG: #F5F5F5;
    --cor-inputC: #2F4F4F;
    --cor-buttonC: white;
    --cor-buttonBG: #43609C;
    --cor-buttonBTL: #ADD8E6;
    --cor-buttonBBR: #00008B;
    --cor-sepC: #333333;
    --cor-expandedSepC: #333333;
    --cor-linkC: #404040;
    --cor-expandedColor: white;
    --cor-linkH: #B0B0B0;
    --cor-interiorBG: #A9A9A9;
    --cor-mButtonBG: #404040;
    --cor-mButtonHBG: #909090;
    --cor-mDropdownBG: #f7f7f7;
    --cor-mDropdownC: #111111;
    --cor-mDropdownBTL: #404040;
    --cor-mDropdownBBR: #000000;
    --cor-opcoesC: #404040;
}
