/*----------------------------------------------------------

  admin.css
  (c) ecgf - 2006

  ver colorbase.css, que determina as cores da página

  Estilo Admin - fundo branco, destaques em abobora
------------------------------------------------------------*/
:root {
    --theme-dark: #FF8C00;
    --theme-light: #FFFFFF;
    --theme-medium: #FA8072;
    --theme-bodyBG: white;
    --theme-bodyC: black;
    --theme-tituloBG: #FF8C00;
    --theme-tituloC: black;
    --theme-tituloBB: black;
    --theme-fortuneBG: #FFCC66;
    --theme-fortuneC: #B22222;
    --theme-tituloCategBG: #FF8C00;
    --theme-tituloCategC: black;
    --theme-categBTL: #FFD700;
    --theme-categBBR: #D2691E;
    --theme-interiorBG: #A9A9A9;
    --theme-expandedBG: #FF8C00;
    --theme-expandedBTL: #FFD700;
    --theme-expandedBBR: #D2691E;
    --theme-expandBG: #FF8C00;
    --theme-expandC: black;
    --theme-expandBTL: #FFFF00;
    --theme-expandBBR: #FF8C00;
    --theme-inputBG: #FFCC66;
    --theme-inputC: #B22222;
    --theme-inputBTL: #000000;
    --theme-inputBBR: #c0c0c0;
    --theme-buttonC: black;
    --theme-buttonBG: #FF8C00;
    --theme-buttonBTL: #FFD700;
    --theme-buttonBBR: #D2691E;
    --theme-sepC: black;
    --theme-sepH: #404040;
    --theme-linkC: black;
    --theme-linkH: black;
    --theme-expandedColor: white;
    --theme-mButtonBG: #404040;
    --theme-mButtonHBG: #909090;
    --theme-mDropdownBG: #f7f7f7;
    --theme-mDropdownC: #111111;
    --theme-mDropdownBTL: #404040;
    --theme-mDropdownBBR: #000000;
    --theme-opcoesC: #b22222;
}
/* ajuste para a edição de elementos */
div.tituloColuna a, div.tituloColuna:hover a {
    color: white;
}
